- contribution = @notification.contribution

|Olá, #{contribution.user.name}!
br
br
| Infelizmente o projeto #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))}
| que você apoiou não atingiu a meta estabelecida e não foi financiado no #{CatarseSettings[:company_name]}.
br
br
| Em até 5 dias úteis faremos o reembolso do valor do seu apoio, que <strong>virá como crédito na próxima ou 
| subsequente fatura do seu cartão</strong>. Assim que o reembolso for feito você receberá um e-mail de confirmação da operação.
br
br
| Segundo as novas regras do Xodó, <strong>os apoios feitos via cartão de crédito ou Paypal para projetos 
| não financiados serão automaticamente reembolsados</strong>, logo, eles não geram mais créditos dentro do 
| #{CatarseSettings[:company_name]} (que anteriormente podiam ser utilizados para colaborar com outros projetos).
br
br
| Estas novas regras passaram a vigorar para projetos que encerraram a captação a partir de 11/09/2014.
br
br
| Se ficou com alguma dúvida, entre em contato conosco respondendo a esta mensagem ou através do e-mail #{mail_to CatarseSettings[:email_contact]} 
| e nos informe a chave de identificação do seu apoio, que é: #{contribution.payment_id || contribution.id}
br
br
|Um abraço,
br
| #{CatarseSettings[:company_name]}
