- user = @notification.user
|Olá, <strong>#{user.display_name}</strong> !
br
br
|Vimos aqui que você tem  R$ #{user.credits} em créditos no Xodó. Que tal aproveitar e apoiar outro projeto bacana agora mesmo?
br
br
|Abaixo selecionamos algumas sugestões de projetos especialmente para você:
br
br
-user.recommended_projects.limit(3).each do |project|
  |#{link_to(project.name, "#{CatarseSettings[:base_url]}/projects/#{project.to_param}")}
  br
  |#{project.headline}
  br
  br
br
br
|Pra não ficar dúvida, aqui vai um passo-a-passo pra utilização dos créditos:
br
br
|1 - #{link_to('Escolher o projeto que quer apoiar;', explore_url)}
br
|2 - Clicar em Quero apoiar este projeto;
br
|3 - Colocar o valor que quer apoiar e selecionar o campo confirmando que você quer usar seus créditos.
br
|4 - Clicar no botão Revisar e realizar pagamento na parte debaixo da tela;
br
|5 - Pronto! Seu apoio será confirmado =)
br
br
|Caso prefira, você pode pedir o reembolso do seu dinheiro clicando #{link_to("aqui", "#{CatarseSettings[:base_url]}/users/#{user.to_param}#credits")}.  Você conseguirá tirar a maioria das suas dúvidas sobre reembolso #{link_to('nesse artigo', 'http://suporte.catarse.me/hc/pt-br/articles/202365507-Regras-e-funcionamento-dos-reembolsos-estornos')}.
br
br
|Se tiver alguma outra dúvida, entre em contato conosco na nossa Central de Suporte: suporte.catarse.me.
br
br
|Um grande abraço,
|Equipe do Xodó
