- user = @notification.user
|Hi, <strong>#{user.display_name}</strong> !
br
br
|We spotted that you have R$ #{user.credits} in credits at Xodó. What about contributing another cool project right now?
br
br
|We have selected below some project suggestions specially for you:
br
br
-user.recommended_projects.limit(3).each do |project|
  |#{link_to(project.name, "#{CatarseSettings[:base_url]}/projects/#{project.to_param}")}
  br
  |#{project.headline}
  br
  br
br
br
|Here goes step-by-step so you won’t have any troubles using your credits ;)
br
br
|1 - #{link_to('Choose the project you want to contribute;', explore_url)}
br
|2 - Click on the 'Contribute This Project' button;
br
|3 -Tell us how much you want to pledge and make sure you check the box saying you want to use your credits for that..
br
|4 - Click on Review and Proceed to Check Out;
br
|5 -Done! Your pledge will be confirmed =)
br
br
|If you rather ask for a refund, first logon to your Xodó account and then click #{link_to("here", "#{CatarseSettings[:base_url]}/users/#{user.to_param}#credits")}.
|#{link_to('This article', 'http://suporte.catarse.me/hc/pt-br/articles/202365507-Regras-e-funcionamento-dos-reembolsos-estornos')} aboud refunds will solve most of  your doubts.
br
br
|If you have any other doubts please get in touch with us through our support area: suporte.catarse.me.
br
br
|Best regards,
|Xodó's team
