- user = @notification.user
- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = CatarseSettings[:company_name]

|Olá, #{user.name}!
br
br
| Obrigado por iniciar o processo de inscrição de um projeto no #{company_name}! 
| Este é apenas o passo inicial e quer dizer que você acabou de criar seu 
| <strong>#{link_to 'rascunho de projeto', project_link, target: '__blank'}</strong> no #{company_name}.
br/
| Você pode ficar o tempo que quiser montando a página do seu projeto antes de enviá-lo. 
br/
br/
| Quando considerar que a sua página de projeto está pronta, basta clicar no botão “ENVIAR PROJETO” que entraremos em contato contigo.
br/
br/
| Se ficou com alguma dúvida, entre em contato conosco respondendo a esta mensagem ou através do e-mail #{mail_to CatarseSettings[:email_projects]}
br/
br/
| E por falar nisso, por favor <strong>não esqueça de incluir na sua lista de contatos os e-mails:</strong> 
| #{mail_to CatarseSettings[:email_projects]} e #{mail_to CatarseSettings[:email_contact]} para evitar que nossas mensagens caiam na sua caixa de spam devido a filtros do seu email. 
br/
br/
| Um abraço,
br/
= company_name
