.facebook
  .fb-like data-title= (defined?(title) ? title : '') data-href=(defined?(href) ? href : "#{CatarseSettings[:facebook_url]}") data-send="false" data-colorscheme=(defined?(colorscheme) ? colorscheme : "light") data-width="#{defined?(width) ? width : '60'}" data-show-faces="false"
