script src="/assets_xodo/js/bootstrap.min.js" 
#footer
  .container
    .row
      .col-md-3
        a href="#" 
          img alt="" src="/assets_xodo/img/footer-logo.png" style=("margin-bottom: 20px;") /
      .col-md-3
        h3 Saiba Mais:
        ul.list-unstyled
          li
            a href="/quem-somos"  Sobre Nós
          /!li
            | a href="#"  Xodó na Mídia
          li
            a href="/termos-de-uso"  Termos de Uso
          /!li
             | a href="#"  Fale Conosco
      .col-md-3
        h3 navegue:
        ul.list-unstyled
          li
            a href="/como-funciona"  Como Funciona
          /!li
            | a href="/"  Envie seu Projeto
          li
            a href="#{explore_path}"  Explore Projetos
          li
            a href="#{explore_path}#successful"  Quem Xodozou
      .col-md-3
        h3
          | siga nossas
          br redes sociais::
        ul.list-unstyled
          li
            a href="http://facebook.com/xodo.com.vc" target="_blank"
              img src="/assets_xodo/img/nav-face.png"  Facebook
          li
            a href="http://twitter.com/xodo_com_vc" target="_blank"
              img src="/assets_xodo/img/nav-twitter.png"  Twitter
          li
            a href="http://instagram.com/xodo_com_vc" target="_blank"
              img src="/assets_xodo/img/nav-instagram.png"  Instagram
    .row
      .footer-copyright Copyright© 2014 Xodó - Todos os direitos reservados
