link href="/assets_xodo/css/bootstrap.min.css" rel="stylesheet"
link href="/assets_xodo/css/style.css" rel="stylesheet" 
  header.navbar.navbar-default role="navigation" 
    .container.navbar-header-container
      .navbar-header
        button.navbar-toggle.collapsed data-target=".navbar-collapse" data-toggle="collapse" type="button" 
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand href="/" 
          img alt="Xodó" src="/assets_xodo/img/logo.png" /
      .collapse.navbar-collapse
        ul.nav.navbar-nav.principal
          li.active
             = link_to t('layouts.header.discover'), explore_path
          /!li
            | = link_to t('layouts.header.submit'), new_project_path
          li
            = link_to t('layouts.header.understand'), "/como-funciona"
        ul.nav.navbar-nav.navbar-right
          li.do-not-collapse.nav-icon
            a href="https://www.facebook.com/xodo.com.vc" target="_blank"
              img alt="Facebook" src="/assets_xodo/img/nav-face.png" /
          li.do-not-collapse.nav-icon
            a href="https://twitter.com/@xodo_com_vc" target="_blank"
              img alt="Twitter" src="/assets_xodo/img/nav-twitter.png" /
          li.do-not-collapse.nav-icon
            a href="http://instagram.com/xodo_com_vc" target="_blank"
              img alt="Instagram" src="/assets_xodo/img/nav-instagram.png" /
          - if current_user
          li.header-nav-li.user
            = link_to '#', class: 'my_profile_link user-menu' do
              = image_tag(current_user.display_image, :size => "40x40", :class => 'profile-picture')
            ul.dropdown.user
              li= link_to t('.profile'), user_path(current_user, anchor: 'settings')
              li= link_to t('layouts.user.my_contributions'), user_path(current_user, anchor: 'contributions')
              - if current_user.project_owner?
                li= link_to t('.projects'), user_path(current_user, anchor: 'projects')
              li
                = link_to t('layouts.user.refund_link'), user_path(current_user, anchor: 'credits')
              - if current_user.admin? || current_user.channel
                li.divider
                - for menu, path in controller.menu do
                  li= link_to menu, path
              li.divider= link_to t('layouts.user.logout'), destroy_user_session_path, method: :delete
        - else
          li.header-nav-li
            = link_to t('.signup'), new_user_registration_url, :class => 'header-nav-item'
          li.header-nav-li
            = link_to t('.signin'), new_user_session_url, :class => 'header-nav-item'
      /! /.nav-collapse
