#footer
  .container
    .row
      .col-md-3
        a href="#" 
          img alt="" src="/assets_xodo/img/footer-logo.png" style=("margin-bottom: 20px;") /
      .col-md-3
        h3 Saiba Mais:
        ul.list-unstyled
          li
            a href="#"  Sobre Nós
          li
            a href="#"  Xodó na Mídia
          li
            a href="#"  Termos de Uso
          li
            a href="#"  Fale Conosco
      .col-md-3
        h3 navegue:
        ul.list-unstyled
          li
            a href="#"  Como Funciona
          li
            a href="#"  Envie seu Projeto
          li
            a href="#"  Explore Projetos
          li
            a href="#"  Quem Xodozou
      .col-md-3
        h3
          | siga nossas
          br redes sociais::
        ul.list-unstyled
          li
            a href="#" 
              img src="/assets_xodo/img/nav-face.png"  Facebook
          li
            a href="#" 
              img src="/assets_xodo/img/nav-twitter.png"  Twitter
          li
            a href="#" 
              img src="/assets_xodo/img/nav-instagram.png"  Instagram
    .row
      .footer-copyright Copyright© 2014 Xodó - Todos os direitos reservados