= favicon_link_tag 'favicon.ico'
- content_for :main_stylesheet, :webflow
- content_for :title, 'Xodó'

link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" /
.container
  .text-center
    img alt="Xodó" src="/assets_xodo/img/manutencao.png" 
      h1 Olá! Como vai?
      p.lead Estamos nos produzindo para recebe-lo ainda melhor.
      p.lead Não desista de contribuir para os projetos, sua doação é muito importante!
      p.lead Em breve voltaremos.
      p.lead Muito Obrigado,
      p.lead Equipe Xodó
