#content.container.como-funciona
  .titulo
    .titulo-1
      img src="/assets_xodo/img/icon-como-funciona.png" /
    .titulo-2.titulo-como-funciona
      h2 COMO FUNCIONA
  .explicacao
    img height="311" src="/assets_xodo/img/como-funciona-banner.png" width="721" /
  .titulo
    .titulo-1
      img src="/assets_xodo/img/icon-questions.png" /
    .titulo-2.titulo-como-funciona
      h2.title Perguntas e respostas
  .faq.col-md-12
    .faq-title.col-md-3.col-md-offset-1.pull-left
      h4.title A plataforma
    ul#accordion_plataforma.faq-list.col-md-9.col-md-offset-1.pull-right.nav.nav-stacked
      li
        a data-parent="#accordion_plataforma" data-toggle="collapse" href="#question1"  O que é Xodó?
        #question1.content.collapse
          p
            | XODÓ é um negócio social criado para promover a preservação, o respeito e o bem-estar
            | dos animais no Brasil.
            | A plataforma xodo.com.vc foi desenvolvida para ajudar a ajudar. Com ela conectamos
            | quem gosta com quem cuida, para que ambos possam contribuir para a melhoria na
            | qualidade de vida dos animais.
            | Temos como objetivo fortalecer as iniciativas em prol dos animais, incentivar a
            | realização dos projetos expostos e garantir a satisfação do doador em relação ao destino
            | do dinheiro repassado.
      li
        a data-parent="#accordion_plataforma" data-toggle="collapse" href="#question2"  O que é um negócio social?
        #question2.content.collapse
          p
            | Um negócio social existe para buscar solução à uma questão de demanda social. Trata-se
            | de um modelo de negócio que, ao mesmo tempo, visa gerar impactos positivos na
            | sociedade em que está inserida e possui fins lucrativos.
            | XODÓ baseia sua gestão na definição feita por Muhammad Yunus (Prêmio Nobel da Paz
            | em 2006), a qual diz que negócio social é uma empresa projetada para atingir um
            | objetivo social dentro do mercado altamente regulado de hoje. Difere de uma
            | organização sem fins lucrativos porque o negócio deve buscar a geração de lucro, mas
            | este será usado para expandir o alcance da empresa, melhorar o produto ou o serviço ou
            | de outras maneiras que subsidiem a missão social.
      li
        a data-parent="#accordion_plataforma" data-toggle="collapse" href="#question3"  Como funciona?
        #question3.content.collapse
          p
            | Possibilitamos que organizações e pessoas inscrevam seus projetos em nossa
            | plataforma de financiamento coletivo.
            | Os projetos ficam expostos conforme período escolhido pelo proponente, para que
            | pessoas ou empresas que se identifiquem com a causa possam contribuir para sua
            | realização.
            | O projeto só recebe o dinheiro arrecadado e entrega as recompensas aos doares se
            | atingir 100%, ou mais, da meta estipulada. Ou seja, Tudo ou Nada será repassado, e os
            | doares poderão optar pelo estorno do valor ou receber em créditos para apoiar outro
            | projeto de sua escolha.
      li
        a data-parent="#accordion_plataforma" data-toggle="collapse" href="#question4"  O que significa tudo ou nada?
        #question4.content.collapse
          p
            | O projeto só recebe o dinheiro arrecadado e entrega os reconhecimentos oferecidos
            | quando a causa atinge ou supera sua meta financeira de arrecadação dentro do prazo
            | estabelecido. Caso isto não aconteça, os doadores têm a opção de pedir o estorno ou de
            | reverter a doação em créditos, para serem utilizados para apoiar outro projeto no site.
            | Sendo assim, ao final do prazo de captação encontramos duas situações:
            | • Projeto bem-sucedido: se o objetivo for atingido ou superado, o responsável pelo
            | projeto fica com o todo o dinheiro arrecadado (descontadas as taxas administrativas da
            | MoIP, nossa operadora de pagamentos digitais).
      li
        a data-parent="#accordion_plataforma" data-toggle="collapse" href="#question5"  Quanto custa para o proponente?
        #question5.content.collapse
          p
            | Nada! Nosso objetivo é colaborar para que o trabalho em prol dos animais se intensifique e
            | ganhe qualidade e visibilidade.
            | XODÓ não cobra taxa alguma dos projetos para que eles captem recursos financeiros, via
            | sua plataforma de crowdfunding. Assim, não ficamos com nenhuma porcentagem do que
            | é captado, nem mesmo cobramos este valor separado dos doadores.
            | Cobramos apenas uma intensa dedicação dos proponentes em relação a elaboração do
            | projeto, divulgação da campanha, relacionamento com os doares e devolutivas finais.
      li
        a data-parent="#accordion_plataforma" data-toggle="collapse" href="#question6"  Se o Xodó não cobra comissão, como se sustenta?
        #question6.content.collapse
          p
            | XODÓ conta com parceiros administrativos que fazem a nossa organização funcionar,
            | independentemente de quanto captamos. Além disso, deixamos em aberto a opção de
            | doação para a plataforma, então também contamos com o apoio dos usuários do site que
            | acreditam em nosso trabalho e apoiam a causa animal.
      li
        a data-parent="#accordion_plataforma" data-toggle="collapse" href="#question7"  O que é crowdfunding?
        #question7.content.collapse
          p
            | Traduzindo para o português seria algo como “financiamento pela multidão”. De
            | forma bem simples, é o termo usado quando a gente fala de iniciativas de financiamento
            | colaborativas, quando várias pessoas contribuem para viabilizar uma ideia, um negócio,
            | um projeto.
            | Crowdfunding é a mais nova ferramenta de ajuda aos outros. Permite fazer parte de algo
            | grande, mesmo contribuindo com pouco.
      li
        a data-parent="#accordion_plataforma" data-toggle="collapse" href="#question8"  Por que ajudar?
        #question8.content.collapse
          p
            | XODÓ busca um mundo onde maus tratos e abandono de animais sejam extintos.
            | Queremos colaborar para a transformação positiva da realidade dos animais e a nossa
            | plataforma possibilita que todos que anseiam por isso participem dessa mudança.
            | Não importa o valor, o que importa é ajudar a transformar!
  .faq.col-md-12
    .faq-title.col-md-2.col-md-offset-1.pull-left
      h4.title Sobre os projetos
    ul#accordion_projetos.faq-list.col-md-9.col-md-offset-1.pull-right.nav.nav-stacked
      li
        a data-parent="#accordion_projetos" data-toggle="collapse" href="#projeto_question1"  Quem pode inscrever um projeto?
        #projeto_question1.content.collapse
          p
            | XODÓ abre espaço para que todos que amam e admiram os animais possam ajudá-los, seja pessoa física ou jurídica.
      li
        a data-parent="#accordion_projetos" data-toggle="collapse" href="#projeto_question2"  Quais são os projetos aceitos?
        #projeto_question2.content.collapse
          p
            | Nossa plataforma promove e engloba iniciativas com animais domésticos, silvestres, de
            | circo e até mesmo de movimentos vegetarianos e veganos.
            | Se você possui um projeto que visa proteção, respeito e cuidado aos animais, envie para
            | XODÓ. Nós auxiliamos na formatação do seu projeto, para que ele tenha sucesso na
            | captação online e consiga ser realizado.
            | Frisamos que só serão aceitos projetos que, mesmo elaborados de forma individual,
            | tenham um impacto coletivo para a vida dos animais e da comunidade.
      li
        a data-parent="#accordion_projetos" data-toggle="collapse" href="#projeto_question3"  Como funciona a inscrição?
        #projeto_question3.content.collapse
          p
            | Você deve clicar em “Envie projetos” e se cadastrar. Ao realizar o login será
            | disponibilizado o Guia de Trabalho Xodó com todo o conteúdo e dicas para a
            | estruturação, formatação e andamento do seu projeto. Não se preocupe, são apenas
            | recomendações para o sucesso do projeto e para a qualidade de conteúdo do site.
            | Preencha todos os campos solicitados, coloque todas as informações sobre sua iniciativa
            | e nos envie. No prazo de 5 dias úteis você receberá uma mensagem de aprovação ou de
            | alterações necessárias para a publicação do projeto.
      li
        a data-parent="#accordion_projetos" data-toggle="collapse" href="#projeto_question4"  Como é o processo de aprovação dos projetos?
        #projeto_question4.content.collapse
          p
            | Prezamos pela qualidade do conteúdo do site, por isso todos os textos e imagens passam
            | por uma análise antes de serem publicados. Caso o conteúdo esteja inapropriado ou com
            | informações insuficientes, poderão ser solicitados ajustes.
      li
        a data-parent="#accordion_projetos" data-toggle="collapse" href="#projeto_question5"  Qual é o tempo que o projeto pode ficar no site fazendo a captação?
        #projeto_question5.content.collapse
          p
            | O proponente decide o prazo na hora do cadastro do projeto e este não pode ser alterado no decorrer da campanha de captação online.
      li
        a data-parent="#accordion_projetos" data-toggle="collapse" href="#projeto_question6"  Que tipo de reconhecimento são oferecidos?
        #projeto_question6.content.collapse
          p
            | As pessoas podem doar qualquer valor e receber reconhecimentos por isto.
            | Os projetos oferecem recompensas aos doadores em troca de sua generosidade,
            | podendo ser algo simbólico e não necessariamente um bem material.
      li
        a data-parent="#accordion_projetos" data-toggle="collapse" href="#projeto_question7"  O que acontece quando um projeto atinge a meta?
        #projeto_question7.content.collapse
          p
            | Se até a data estipulada o projeto tiver alcançado ou ultrapassado a meta de
            | arrecadação, o proponente do projeto recebe o dinheiro, descontadas as taxas da MoIP
            | (aproximadamente 5%). Todos os doadores (que quiserem) receberão devolutivas do
            | andamento dos projetos e suas recompensas prometidas.
      li
        a data-parent="#accordion_projetos" data-toggle="collapse" href="#projeto_question8"  Xodó está envolvido na criação e execução de projetos?
        #projeto_question8.content.collapse
          p
            | Não, XODÓ apenas auxilia na estruturação e na publicação dos projetos. Nosso papel é disponibilizar uma plataforma segura e confiável para que projetos de qualidade sejam expostos e para que pessoas dispostas a fazer a diferença sintam-se motivadas.
  .faq.col-md-12
    .faq-title.col-md-3.col-md-offset-1.pull-left
      h4.title Ajudando a plataforma
    ul#accordion_ajuda.faq-list.col-md-9.col-md-offset-1.pull-right.nav.nav-stacked
      li
        a data-parent="#accordion_ajuda" data-toggle="collapse" href="#ajuda_question1"  Como faço para contribuir com um projeto?
        #ajuda_question1.content.collapse
          p
            | Simples e rápido!
            | Primeiro você tem que fazer seu cadastro aqui no site, que dura menos de 1 minuto.
            | Alguns dados já serão exportados diretamente para o MoIP, para você não ter que
            | repetir dados na hora de pagar. Depois, basta escolher um projeto na página principal.
            | Importante: conheça um a um, todos são muito bacanas e precisam muito de ajuda. Em
            | seguida, clique em “Quero contribuir” e acompanhe o passo a passo. Você vai escolher o
            | valor, a forma de pagamento e prontinho!
            | Se o projeto for bem-sucedido, o dinheiro será liberado para a instituição realizá-lo.
            | Caso queira, você receberá no seu email as atualizações do projeto para o qual está
            | doando.
            | Se, ao final do prazo de arrecadação, o projeto não atingir a meta financeira, você poderá
            | receber todo o seu dinheiro de volta ou créditos para apoiar outro projeto do site.
      li
        a data-parent="#accordion_ajuda" data-toggle="collapse" href="#ajuda_question2"  O que é Moip?
        #ajuda_question2.content.collapse
          p
            | Moip é uma empresa de soluções de pagamentos online do Grupo IG e uma das mais inovadoras no mercado brasileiro de meios de pagamento. Possui uma sofisticada tecnologia que possibilita total segurança nas transações realizadas. O sistema da Moip permite que o dinheiro seja estornado caso os projetos não sejam bem-sucedidos.
      li
        a data-parent="#accordion_ajuda" data-toggle="collapse" href="#ajuda_question3"  O proponente vai saber que eu doei para o seu projeto?
        #ajuda_question3.content.collapse
          p
            | Apenas se você quiser. XODÓ não compartilha o seu e-mail diretamente com os
            | responsáveis do projeto, a não ser que tenhamos a sua autorização para tal. Toda a
            | comunicação relativa aos projetos contribuídos é de responsabilidade nossa. Mas sempre haverá um canal de comunicação direto com os organizadores do projeto beneficiado e, caso queira, você pode entrar em contato sem a nossa mediação.
      li
        a data-parent="#accordion_ajuda" data-toggle="collapse" href="#ajuda_question4"  O que acontece quando o prazo de captação termina?
        #ajuda_question4.content.collapse
          p
            | A campanha é finalizada, o que significa que não é mais possível fazer doações. Se atingiu sua meta, o projeto vai receber o valor arrecadado para sua realização. Já, se o valor não for alcançado, seu dinheiro é estornado ou vira em créditos para você apoiar outro projeto.
      li
        a data-parent="#accordion_ajuda" data-toggle="collapse" href="#ajuda_question5"  Como faço para acompanhar a realização do projeto?
        #ajuda_question5.content.collapse
          p
            | XODÓ tem uma preocupação muito grande com o acompanhamento dos projetos
            | apoiados via site. Por isso, se você quiser, receberá as atualizações dos projetos que
            | apoiou por meio de cartas, depoimentos, fotos, vídeos, etc... Não existe um padrão, cada
            | devolutiva é feita conforme a criatividade do proponente.
      li
        a data-parent="#accordion_ajuda" data-toggle="collapse" href="#ajuda_question6"  E se eu quiser cancelar minha doação?
        #ajuda_question6.content.collapse
          p
            | Você pode fazer diretamente pelo Moip, mas se preferir, fale com a gente no endereço contato@xodo.com.vc e nós o ajudaremos nos trâmites. O cancelamento só é possível se a campanha estiver em andamento.
      li
        a data-parent="#accordion_ajuda" data-toggle="collapse" href="#ajuda_question8"  Quero ser voluntário(a) em uma instituição ou projeto, como faço?
        #ajuda_question8.content.collapse
          p
            | XODÓ dá o maior apoio para que você se engaje de outras formas nos projetos. Entre em contato conosco e encaminharemos suas pretensões para a instituição/projeto que você quer se voluntariar.
