#content.container.termos-de-uso
  .titulo
    .titulo-1
      img src="/assets_xodo/img/icon-termos-de-uso.png" /
    .titulo-2
      h2 QUEM SOMOS
  .termos.col-md-12.col-lg-12
    .col-md-6.col-lg-6
      p XODÓ É UM NEGÓCIO SOCIAL CRIADO PARA PROMOVER O RESPEITO, A PRESERVAÇÃO E O BEM-ESTAR DOS ANIMAIS NO BRASIL.
      div
        | Identificamos no cenário brasileiro uma carência de recursos financeiros para o desenvolvimento dotrabalho de ONGs, protetores e profissionais dedicados ao
        | cuidado de animais carentes e vítimas de maus tratos. Tendo em vista as belas ações de muitos e o seu impacto positivo na vida dos animais, XODÓ nasce com
        | a missão de ajudar estas instituições e pessoas, oferecendo subsídios para tornar seus projetos viáveis e, assim, transformar a realidade dos nossos
        | animais.
      div
        br/
      div
        | A idéia surgiu em meados de 2013. Depois de muitos encontros e discussões, chegamos à proposta de um modelo de financiamento coletivo, originalmente
        | chamado de crowdfunding. Lançado nos Estados Unidos em 2006, o conceito de crowdfunding demorou a se popularizar no Brasil. Hoje, no entanto, já
        | encontramos diversos sites focados em projetos culturais, impacto social, sustentabilidade, software, start-ups, entre muitos outros temas. A escolha do
        | modelo deu-se devido a proposta dinâmica do sistema, o qual possibilita que muitos possam contribuir, mesmo com pouco, e fazer parte de algo grande.
      div
        br/
      div
        | XODÓ tem por meta conectar todos os que amam e admiram os animais e buscam uma vida melhor para eles. O nome foi escolhido por ser facilmente associado ao
        | amor e aos animais, além disso, ele transmite subliminarmente um adeus ao dó, à pena (xô dó).
      div
        br/
      div
        | XODÓ quer eliminar a dó e transformá-la em ações que mudam a realidade dos animais, queremos que eles sejam respeitados e recebam os cuidados que merecem e
        | têm direito. Carinhosamente desenhado, nosso logo exprime claramente a atenção com todas as espécies e não apenas com as urbanas ou domésticas.
      div
        br/
      div
        | Nossa plataforma de financiamento coletivo permite que ONGs, profissionais e protetores de animais inscrevam seus projetos, para que pessoas e empresas que
        | se identifiquem com a causa possam contribuir para que ele se torne viável.
      div
        br/
      div
        | XODÓ promove e engloba iniciativas com animais domésticos, silvestres, de circo e até mesmo de movimentos vegetarianos e veganos. Todo projeto que visa
        | cuidado, respeito e proteção de animais será bem-vindo.
      div
        br/
      div
        | Nosso trabalho é focado na transparência e temos o compromisso com a verdade.Por isso cobramos dos proponentes a comprovação
      div
        br/
      div
        | da realização dos projetos. Desta forma asseguramos a transparência no processo, gerando confiança e estimulando o ato de solidariedade.
        
    .col-md-2.col-lg-2
      img src="/assets_xodo/img/about_banner.png" width="350" 