#content.container.termos-de-uso
  .titulo
    .titulo-1
      img src="/assets_xodo/img/icon-termos-de-uso.png" /
    .titulo-2
      h2 TERMO DE USO E POLÍTICA DE PRIVACIDADE
  .termos.col-md-11.col-lg-11
    p dir="ltr" 
      | Bem-vindo ao canal de captação de recursos Xodó, serviço oferecido pela Xodó EIRELI, inscrita no CNPJ/MF nº 19.847.526/0001-30.
    br/
    p dir="ltr" 
      | O acesso ao conteúdo do site
      a href="http://www.xodo.com.vc"  http://www.xodo.com.vc
      |  dependerá da sua plena concordância com este Termo de Uso e
      | Política de Privacidade, de modo que a sua leitura e a integral aceitação do que se estabelece são indispensáveis.
    br/
    p dir="ltr" 
      | Este Termo de Uso e Política de Privacidade tem como objetivo estabelecer os direitos e as obrigações dos doadores, associações sem fins lucrativos,
      | negócios sociais e empreendedores sociais participantes do site, mas também esclarecer qual será o tratamento conferido aos seus dados e informações
      | cadastrados no canal. Essas normas e as principais informações relativas ao uso do site estão abaixo previstas:
    ol
      li dir="ltr" 
        p dir="ltr" 
          | DEFINIÇÕES USADAS NESTE TERMO
    br/
    ol
      li dir="ltr" 
        p dir="ltr" 
          | SITE: se refere ao canal de captação de recursos
          a href="http://www.xodo.com.vc"  http://www.xodo.com.vc
    br/
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | TERMO DE USO: se refere a este Termo de Uso e Política de Privacidade.
    br/
    ol start="3" 
      li dir="ltr" 
        p dir="ltr" 
          | ENTIDADES: se refere especificamente às associações sem fins lucrativos e aos negócios sociais que tenha interesse em inscrever seus projetos no
          | site para angariar fundos.
    br/
    ol start="4" 
      li dir="ltr" 
        p dir="ltr" 
          | EMPREENDEDORES: se refere especificamente às pessoas físicas que tenham interesse em inscrever seus projetos no site para angariar fundos.
    br/
    ol start="5" 
      li dir="ltr" 
        p dir="ltr" 
          | DOADORES: se refere àquelas pessoas físicas ou jurídicas que efetuarem doações através do site a um ou mais projetos inscritos.
    br/
    ol start="6" 
      li dir="ltr" 
        p dir="ltr" 
          | USUÁRIOS: o conjunto daqueles que se inscreverem no site composto tanto pelas entidades, pelos empreendedores, como também pelos doadores.
    br/
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | O QUE É Xodó?
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Xodó é um SITE de captação de recursos, destinado à causa animal.
    br/
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | O SITE proporciona, a partir de uma rede colaborativa, o financiamento coletivo de projetos sociais de ENTIDADES ou EMPREENDEDORES que provoquem um
          | impacto social positivo, exclusivamente no segmento de defesa, promoção de direitos e garantia de proteção, cuidados e bem-estar de animais, bem
          | como de combate a todo e qualquer tipo de maus tratos contra estes seres vivos, seja pelo tráfico ilegal, pelo uso abusivo e indevido em testes
          | científicos, pelo manejo pecuário cruel e em condições de encarceramento, entre outras vertentes que busquem, de maneira precípua, salvaguardar a
          | qualidade de vida de animais de quaisquer espécies, em condições naturais, de domesticidade ou em cativeiro, primando por uma convivência saudável
          | e harmoniosa entre seres humanos e animais.
    br/
    ol start="3" 
      li dir="ltr" 
        p dir="ltr" 
          | O crowdfunding é um mecanismo inovador e prático, que viabiliza, no âmbito do canal Xodó, projetos sociais por meio da colaboração financeira e
          | virtual de pessoas interessadas em fomentar sua execução.
    ol start="4" 
      li dir="ltr" 
        p dir="ltr" 
          | O SITE permite que as ENTIDADES e os PROTETORES apresentem seus projetos e angariem fundos para sua realização, por meio do recebimento de doações
          | no próprio SITE.
    ol start="5" 
      li dir="ltr" 
        p dir="ltr" 
          | Para tanto, o SITE fornece uma série de funcionalidades, principalmente de cadastro de dados, o que, pelo presente instrumento, o usuário declara
          | ter ciência.
    br/
    ol start="6" 
      li dir="ltr" 
        p dir="ltr" 
          | O gerenciamento de todas essas funcionalidades e atividades delas decorrentes, que incluem, mas não se limitam à curadoria e à definição das regras
          | para os projetos serem inscritos, ao controle dos valores doados, são, todavia, de responsabilidade exclusiva do SITE.
    br/
    ol start="7" 
      li dir="ltr" 
        p dir="ltr" 
          | O SITE é financiado por contribuições de parceiros institucionais da Xodó EIRELI e por investimentos de seu sócio, de modo que não cobra nenhum
          | tipo de comissão sobre as doações realizadas para os projetos nele inscritos, exceto as taxas referentes ao sistema de transações financeiras
          | online, operado pela empresa contratada MoIP ou por outra empresa que a equipe do SITE venha a contratar.
    br/
    p dir="ltr" 
      | 7.1. A comissão do MoIP incidirá quando a captação dos projetos for bem sucedida nos seguintes valores: R$0,69 + 2,9% dos pagamentos à vista (Moip, débito
      |  online e boleto bancário) ou R$0,69 + 4,9% dos pagamentos feitos com cartão de crédito. Esses percentuais poderão ser revistos periodicamente, de acordo
      | com o respectivo Termo de Uso do MoIP.
    br/
    ol start="3" 
      li dir="ltr" 
        p dir="ltr" 
          | REGRAS GERAIS DE UTILIZAÇÃO DO SITE
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Qualquer pessoa maior de 18 anos pode doar ou divulgar seu projeto através do SITE, sendo expressamente proibida a participação de menores de 18
          | anos, mesmo que com a prévia autorização dos pais ou responsáveis. Em caso de irregularidade, o SITE poderá cancelar o cadastro desta pessoa e suas
          |  eventuais doações ou ações realizadas no SITE, restituindo as que não tiverem sido repassadas para a execução dos projetos.
    br/
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | Os USUÁRIOS são os únicos responsáveis pela segurança e controle de suas contas (nome de usuário e senha) no SITE, as quais são pessoais e
          |  intransferíveis.
    br/
    ol start="3" 
      li dir="ltr" 
        p dir="ltr" 
          | Os USUÁRIOS se comprometem a manter seus dados sempre atualizados no SITE, sendo responsáveis pela veracidade das informações ali dispostas.
    br/
    ol start="4" 
      li dir="ltr" 
        p dir="ltr" 
          | Todos e quaisquer conteúdos enviados ao SITE pelos USUÁRIOS são de sua responsabilidade exclusiva, não havendo qualquer responsabilidade solidária,
          |  subsidiária ou a qualquer título com o SITE. Sendo assim, o SITE não se responsabiliza por quaisquer danos, de quaisquer naturezas, decorrentes de
          | conteúdos impróprios, ofensivos ou que violem direitos previstos na legislação brasileira postados pelos USUÁRIOS. Caso haja qualquer suspeita de
          | uso indevido ou não autorizado de sua conta, os USUÁRIOS devem notificar imediatamente o SITE, pelo e-mail:
          a href="mailto:contato@xodo.com.vc"  contato@xodo.com.vc 
          |.
    ol start="4" 
      li dir="ltr" 
        p dir="ltr" 
          | REGRAS DE UTILIZAÇÃO DO SITE ESPECÍFICAS PARA ENTIDADES E EMPREENDEDORES
    p dir="ltr" 
      | 1. As ENTIDADES ou EMPREENDEDORES que tenham interesse em inscrever seus projetos no SITE deverão apresenta-los clicando na opção “Enviar seu projeto” e
      |  fornecendo as seguintes informações e documentos:
    br/
    ol
      li dir="ltr" 
        p dir="ltr" 
          | ENTIDADES:
    br/
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Informações institucionais:
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Razão social, endereço, telefone e CNPJ;
      li dir="ltr" 
        p dir="ltr" 
          | Nome completo e e-mail do representante legal;
      li dir="ltr" 
        p dir="ltr" 
          | Nome completo, CPF e contatos do responsável pelo projeto;
      li dir="ltr" 
        p dir="ltr" 
          | Descrição do projeto, que deverá ser necessariamente lícito;
      li dir="ltr" 
        p dir="ltr" 
          | Valor total pretendido para o financiamento do projeto;
      li dir="ltr" 
        p dir="ltr" 
          | Prazo para obtenção do valor total destinado para financiar o projeto, observando o prazo mínimo de 15 (quinze) dias e prazo máximo de 120 (cento e
          |  vinte) dias;
      li dir="ltr" 
        p dir="ltr" 
          | Indicação do reconhecimentos/gratificações aos DOADORES que financiarem o projeto;
      li dir="ltr" 
        p dir="ltr" 
          | Aceitação integral do presente TERMO DE USO; e
      li dir="ltr" 
        p dir="ltr" 
          | Dados da “Conta de Negócios/Profissional” criada junto ao MoIP, conforme abaixo indicado.
    br/
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | Documentos institucionais:
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Cópia digitalizada do Estatuto Social vigente e registrado em Cartório;
      li dir="ltr" 
        p dir="ltr" 
          | Cópia digitalizada da Ata de eleição da atual Diretoria registrada em Cartório;
      li dir="ltr" 
        p dir="ltr" 
          | Cópia digitalizada do RG e CPF do representante legal;
      li dir="ltr" 
        p dir="ltr" 
          | Cópia digitalizada do Balanço Patrimonial e da Demonstração de Resultados do último exercício;
      li dir="ltr" 
        p dir="ltr" 
          | Cópia digitalizada dos títulos, qualificações, certificados e/ou registros Municipais, Estaduais e Federais que a entidade possuir;
      li dir="ltr" 
        p dir="ltr" 
          | Cópia digitalizada da Certidão Conjunta Negativa de Débitos Relativos aos Tributos Federais e à Dívida da União;
      li dir="ltr" 
        p dir="ltr" 
          | Cópia digitalizada da Certidão Negativa da Justiça Federal.
    br/
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | PROTETORES:
      ol
        li dir="ltr" 
          p dir="ltr" 
            | Informações pessoais:
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Nome completo, endereço, telefone, RG e CPF;
      li dir="ltr" 
        p dir="ltr" 
          | Descrição do Projeto, que deverá ser necessariamente lícito;
      li dir="ltr" 
        p dir="ltr" 
          | Valor total pretendido para o financiamento do Projeto;
      li dir="ltr" 
        p dir="ltr" 
          | Prazo para obtenção do valor total destinado para financiar o projeto, observando o prazo mínimo de 15 (quinze) dias e prazo máximo de 120 (cento e
          | vinte) dias;
      li dir="ltr" 
        p dir="ltr" 
          | Indicação do reconhecimentos/gratificações aos DOADORES que financiarem o Projeto;
      li dir="ltr" 
        p dir="ltr" 
          | Aceitação integral do presente TERMO DE USO; e
      li dir="ltr" 
        p dir="ltr" 
          | Dados da “Conta de Negócios/Profissional”, criada junto ao MoIP, conforme abaixo indicado.
    br/
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | Documentos pessoais:
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Cópia digitalizada do RG e CPF; e
      li dir="ltr" 
        p dir="ltr" 
          | Cópia digitalizada do comprovante de residência.
    br/
    ol start="3" 
      li dir="ltr" 
        p dir="ltr" 
          | Para cadastrarem seus projetos, as ENTIDADES e os PROTETORES deverão criar uma “Conta de Negócios/Profissional” no MoIP (
          a href="https://site.moip.com.br/" https://site.moip.com.br/
          | )sistema que processa todas as transações financeiras online do SITE.
    br/
    ol start="4" 
      li dir="ltr" 
        p dir="ltr" 
          | O cumprimento das formas de gratificação indicadas pelas ENTIDADES ou pelos PROTETORES aos seus DOADORES serão de sua inteira e direta
          | responsabilidade, não havendo qualquer responsabilidade solidária ou subsidiária por parte do SITE.
    br/
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | As ENTIDADES e os PROTETORES poderão cadastrar mais de um projeto.
    br/
    ol start="3" 
      li dir="ltr" 
        p dir="ltr" 
          | As ENTIDADES e os PROTETORES declaram, por meio deste, nos termos da legislação brasileira, serem os legítimos detentores dos direitos de
          | propriedade intelectual sobre os projetos que vierem a inscrever, não havendo nenhuma coautoria ou participação da equipe do SITE, dos DOADORES
          | e/ou de terceiros não autorizados sobre a criação dos projetos.
    ol start="4" 
      li dir="ltr" 
        p dir="ltr" 
          | As ENTIDADES e os PROTETORES se responsabilizam por todo o conteúdo submetido ao SITE, tais como, mas não se limitando a relatórios, fotos e
          | vídeos, declarando que detêm sobre estes materiais publicados todos os direitos, essencialmente as autorizações para uso de imagem de terceiros e
          | os termos de cessão de direitos autorais patrimoniais.
    br/
    ol start="5" 
      li dir="ltr" 
        p dir="ltr" 
          | Ao publicar ou enviar qualquer material/conteúdo para o SITE, as ENTIDADES e os PROTETORES automaticamente lhe outorgam uma licença mundial, não
          | onerosa e não exclusiva para que possa publicar, exibir, reproduzir, editar ou de outra forma utilizar/divulgar o conteúdo, em qualquer formato ou
          | mídia, podendo, ainda, autorizar o uso dos materiais por terceiros.
    br/
    ol start="6" 
      li dir="ltr" 
        p dir="ltr" 
          | As ENTIDADES e os PROTETORES estão cientes e assumem que, ao vincularem seus projetos no SITE, seus projetos estarão expostos e, com isso, aumenta
          | o risco de que sua ideia seja plagiada/replicada e desenvolvida por terceiros, sem a devida autorização, não sendo de responsabilidade do SITE o
          | controle desta situação.
    br/
    ol start="7" 
      li dir="ltr" 
        p dir="ltr" 
          | O SITE apenas oferece a estrutura de seu SITE e não participa da concepção dos projetos nele veiculados, nem de sua implementação e realização.
          | Logo, o SITE não garante que os projetos serão executados, nem que os reconhecimentos serão honrados, isentando-se de responsabilidade a respeito,
          | com o que concordam expressamente as ENTIDADES e PROTETORES criadores de projetos, que se comprometem a dirimir eventuais problemas diretamente com
          | os DOADORES.
    br/
    ol start="8" 
      li dir="ltr" 
        p dir="ltr" 
          | O SITE, muito embora não assuma a responsabilidade pelo conteúdo gerado pelas ENTIDADES e pelos PROTETORES, pesquisará sobre a veracidade das
          |  informações das mesmas e de seus projetos e, se reserva o direito de retirar do SITE quaisquer projetos publicados, a seu exclusivo critério e sem
          | qualquer ônus.
    br/
    ol start="5" 
      li dir="ltr" 
        p dir="ltr" 
          | SELEÇÃO DO PROJETO
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Após a inscrição dos projetos, a equipe do SITE os avaliará, considerando a regularidade das informações apresentadas e a adequação ao segmento de
          | promoção da causa animal.
    br/
    ol
      li dir="ltr" 
        p dir="ltr" 
          | A equipe do SITE poderá solicitar documentação extra para comprovação das informações cadastradas e, caso identifique que as ENTIDADES ou os
          |  PROTETORES agiram de má fé, ou se recusado a enviar a documentação requerida, o SITE poderá retirar a sua página do ar, suspendendo seu cadastro
          | para divulgação de seus projetos, o que poderá ocorrer temporariamente ou definitivamente, e devolvendo aos DOADORES os valores de doações ainda
          | não repassados à ENTIDADE.
    br/
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | A aceitação dos projetos é de única e exclusiva decisão da equipe do SITE.
    ol start="3" 
      li dir="ltr" 
        p dir="ltr" 
          | Não serão aceitos projetos que:
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Prometam retorno financeiro aos DOADORES, tais como a venda de participações societárias ou de qualquer espécie de valor mobiliário, a promoção de
          | rifas, sorteios e jogos de azar;
      li dir="ltr" 
        p dir="ltr" 
          | Tenham conteúdo ilegal, imoral, obsceno, racista, ofensivo ou que estejam em desacordo com a moral e os bons costumes ou com a legislação vigente;
      li dir="ltr" 
        p dir="ltr" 
          | Descumpram qualquer condição estabelecida nesse TERMO DE USO.
    ol start="4" 
      li dir="ltr" 
        p dir="ltr" 
          | Caso o projeto esteja de acordo com as condições estabelecidas nesse TERMO DE USO, bem como seja aceito pela equipe do SITE, as ENTIDADES ou
          |  PROTETORES responsáveis terão acesso a uma página específica para sua divulgação, que ficará disponível durante o tempo de captação aprovado.
    ol start="5" 
      li dir="ltr" 
        p dir="ltr" 
          | Nem todos os projetos publicados estarão expostos na página principal do SITE, pois sua mecânica visa diversificar os projetos ali dispostos,
          | buscando ao máximo um revezamento.
    ol start="6" 
      li dir="ltr" 
        p dir="ltr" 
          | ACOMPANHAMENTO DOS PROJETOS APROVADOS PELO SITE
    p dir="ltr" 
      | 1. Após executar o projeto com o valor arrecadado no SITE, as ENTIDADES e os PROTETORES deverão obrigatoriamente enviar ao SITE a devolutiva da realização
      | do projeto, mediante material que contenha, entre outros elementos, textos, fotos e vídeos. Essa atualização é muito importante para que os DOADORES possam
      |  ter informações sobre as doações realizadas. Caso este material não seja enviado em até 10 dias úteis após a realização do projeto e/ou após solicitação
      |  feita pelo SITE, os cadastros das ENTIDADES e dos PROTETORES será bloqueado no SITE para fins de participação futura, até que a situação se resolva.
    br/
    p dir="ltr" 
      | VII. REGRAS DE UTILIZAÇÃO DO SITE ESPECÍFICAS PARA OS DOADORES
    p dir="ltr" 
      | 1. O doador deverá observar as seguintes etapas e obrigações:
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Cadastrar-se no SITE informando seu nome completo, CPF/ CNPJ, e-mail, endereço completo, e telefone fixo;
      li dir="ltr" 
        p dir="ltr" 
          | Ler na íntegra e aceitar este TERMO DE USO;
      li dir="ltr" 
        p dir="ltr" 
          | Escolher o projeto que mais o agrada e que deseja apoiar;
      li dir="ltr" 
        p dir="ltr" 
          | Estipular o valor que deseja doar para o projeto;
      li dir="ltr" 
        p dir="ltr" 
          | Escolher, caso desejar, qual reconhecimento deseja receber diretamente da entidade responsável pelo projeto, nos termos das condições estabelecidas
          | pela própria entidade para o projeto selecionado;
      li dir="ltr" 
        p dir="ltr" 
          | Preencher seus dados e selecionar a forma de doação que pretende realizar, sendo que esta etapa será gerenciada pela MoIP, empresa de pagamentos
          | online (vide termos de uso do MoIP);
    br/
    ol
      li dir="ltr" 
        p dir="ltr" 
          | O valor doado irá para uma conta provisória do SITE, e ficará bloqueado até que o projeto escolhido atinja ou ultrapasse a meta de arrecadação
          | definida, quando então a doação será transferida para a conta da entidade responsável, conforme as regras estabelecidas pelo MoIP, que necessita de
          | 30 dias para efetuar todas as transações online pertinentes.
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | O SITE ressalta que as gratificações/ reconhecimentos ofertados pelas ENTIDADES e PROTETORES aos DOADORES de seus projetos são de responsabilidade
          | direta da própria entidade beneficiária desta doação, ciente o doador de que não há qualquer responsabilidade, direta ou indireta, por parte do
          |  SITE a esse respeito.
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | Os DOADORES reconhecem que seu nome, marca ou nome fantasia e imagem serão publicadas na página do projeto para o qual contribuiu no SITE, exceto
          |  quando optarem pela colaboração anônima.
    ol start="3" 
      li dir="ltr" 
        p dir="ltr" 
          | Os valores arrecadados para os projetos pelo SITE só são transferidos para as ENTIDADES e PROTETORES e os reconhecimentos oferecidos só são
          | entregues aos DOADORES, quando a arrecadação atinge ou supera a meta financeira definida, dentro do prazo pré-estabelecido no momento de cadastro
          | do projeto. Caso isto não ocorra, as ENTIDADES e PROTETORES não receberão qualquer quantia relativa aos seus projetos, os reconhecimentos não serão
          | entregues e os DOADORES receberão de volta o valor de sua doação pela agência MoiP.
    ol start="4" 
      li dir="ltr" 
        p dir="ltr" 
          | Além de todas as informações públicas do SITE, quando os projetos atingirem suas metas, as ENTIDADES e PROTETORES responsáveis serão informados
          | sobre os nomes e e-mails de todos os DOADORES que aceitaram eventuais gratificações, a fim de acertarem sua entrega.
    ol start="5" 
      li dir="ltr" 
        p dir="ltr" 
          | Os DOADORES ficam, desde já, cientes de que, para receberem as gratificações por parte das ENTIDADES ou dos PROTETORES que receberem suas doações,
          | o SITE terá que indicar seus dados a estas ENTIDADES ou PROTETORES para que os mesmos possam gratifica-los.
    br/
    ol start="8" 
      li dir="ltr" 
        p dir="ltr" 
          | INFORMAÇÕES DE CONHECIMENTO DA COMUNIDADE EM GERAL E CONTROLE DE CONTEÚDO PELO SITE.
    p dir="ltr" 
      | 1. Qualquer pessoa que acessar o SITE poderá navegar por todas as páginas sem se cadastrar, exceto na parte restrita às doações e inserção/cadastro de
      | projetos.
    p dir="ltr" 
      | 2. Os internautas não cadastrados no SITE poderão curtir projetos e compartilhar em redes sociais, que as ENTIDADES e PROTETORES, desde já, expressamente
      | concordam.
    p dir="ltr" 
      | 3. Serão de conhecimento de qualquer pessoa que acesse o SITE as informações públicas disponíveis, como:
    p dir="ltr" 
      | a) Na página de projetos: material de apresentação, pedidos e recompensas, número de DOADORES, valor arrecado em tempo real, dias restantes para
      | finalização da captação de recursos, nome dos DOADORES não anônimos, doações feita pelos DOADORES que optarem por divulgar essa informação;
    p dir="ltr" 
      | b) Na página perfil dos DOADORES: nome, apelido, foto e projetos publicados, quando os DOADORES optarem por informar os projetos apoiados.
    p dir="ltr" 
      | 4. O SITE não será, em hipótese alguma, responsável por quaisquer danos decorrentes da interrupção do serviço desta página quando tal indisponibilidade
      | ocorrer por culpa de terceiros, visto que foge de seu controle e diligência.
    p dir="ltr" 
      | 5. O SITE também não se responsabiliza por atos de terceiros, como hackers, que logrem êxito em coletar ou utilizar, por quaisquer meios, dados cadastrais
      |  e informações disponibilizadas pelos USUÁRIOS.
    ol start="9" 
      li dir="ltr" 
        p dir="ltr" 
          | GERENCIAMENTO DE INFORMAÇÕES PESSOAIS E ENVIO DE E-MAILS
    p dir="ltr" 
      | 1. Enviamos aos DOADORES e-mails relativos às suas transações pessoais e anúncios relacionados ao SITE e/ou outros serviços, porém só o fazemos quando
      |  autorizado.
    p dir="ltr" 
      | 1.1. Todas as informações cadastrais dos DOADORES enviadas para o SITE e/ou para parceiros do SITE que utilizem a mesma plataforma serão mantidas em nosso
      |  controle, e somente encaminhadas às ENTIDADES e aos PROTETORES quando autorizado pelos DOADORES. No entanto, os DOADORES ficam, desde já, cientes de que,
      | caso desejem receber eventual gratificação por parte das ENTIDADES ou dos PROTETORES que receberem suas doações, o SITE terá que indicar seus dados a estas
      |   ENTIDADES e PROTETORES para que as mesmas possam gratifica-los.
    p dir="ltr" 
      | 2. Os DOADORES ficam cientes que, sempre que fundado em indício de ato ilícito, e solicitadas, por qualquer interessado, informações sobre a propriedade de
      | um registro do usuário no PORTAL, será lícito ao SITE fornecer os seus dados cadastrais, a exclusivo critério, sem que tal ato constitua qualquer violação
      | de sigilo.
    p dir="ltr" 
      | 2.1. Para os fins e efeitos do previsto no parágrafo anterior, os DOADORES concordam e declaram, expressamente, que o fornecimento de seus meros dados
      |  cadastrais a terceiros não constitui violação de sua intimidade, vida privada, honra e/ou imagem, em virtude da natureza destes dados.
    p dir="ltr" 
      | 2.2. Para os fins e efeitos do previsto anteriormente, os DOADORES concordam e declaram, expressamente, que, pela natureza dos dados que fornece ao SITE,
      |  estes não constituem correspondência, comunicação telegráfica, dados ou comunicações telefônicas.
    p dir="ltr" 
      | 3. Reservamos o direito de divulgar suas informações pessoais conforme exigido por lei e quando acreditarmos que a divulgação é necessária para proteger os
      | nossos direitos.
    p dir="ltr" 
      | 4. Embora o SITE empregue seus melhores esforços para a proteção dos dados dos USUÁRIOS, considerando as características dos sistemas informáticos, e o
      | constante avanço das técnicas de invasão, o SITE NÃO GARANTE A SEGURANÇA ABSOLUTA DE SEUS SISTEMAS, NEM SE RESPONSABILIZA POR ATOS DE TERCEIROS QUE,
      | EVENTUALMENTE, LOGREM ÊXITO EM COLETAR OU UTILIZAR, POR QUAISQUER MEIOS, DADOS E/OU INFORMAÇÕES DISPONIBILIZADAS PELOS USUÁRIOS. Não obstante, caso venha a
      | ser detectada qualquer invasão, o SITE indicará a todos os seus USUÁRIOS o risco existente, em formato que for mais adequado.
    ol start="10" 
      li dir="ltr" 
        p dir="ltr" 
          | SITES DE TERCEIROS
    br/
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Dentro do SITE, é possível que os USUÁRIOS encontrem links e atalhos que os direcionarão para sites de terceiros. Os USUÁRIOS declaram estar
          | cientes de que o SITE não tem controle ou ingerência sobre estes sites de terceiros, por não possuir qualquer ligação com seus websites nem ter
          | conhecimento de suas políticas e regulamentos de privacidade, que podem ser constantemente alterados, inviabilizando a verificação prévia pelo
          |  SITE. Assim, constitui obrigação dos USUÁRIOS a verificação dos termos relativos à privacidade destes sites de terceiros, para os quais haja links
          | e atalhos disponíveis no SITE, quando do acesso a eles.
    br/
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Nos termos desta cláusula, o SITE fica isento de qualquer responsabilidade decorrente de violações da privacidade dos USUÁRIOS pelos sites que
          |  eventualmente possuam link em seu canal.
    ol start="11" 
      li dir="ltr" 
        p dir="ltr" 
          | POLÍTICA DE PRIVACIDADE
    ol
      li dir="ltr" 
        p dir="ltr" 
          | O SITE foi desenvolvido visando assegurar que a privacidade online seja respeitada e que as informações pessoais dos USUÁRIOS sejam devidamente
          | protegidas, sendo a presente política necessária para demonstrar o compromisso e a transparência do SITE quanto a este importante assunto.
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | A Xodó EIRELI respeita o direito constitucional à privacidade, intimidade e autodeterminação informativa e o salva guarda em seu SITE.
    br/
    ol start="3" 
      li dir="ltr" 
        p dir="ltr" 
          | Conheça a seguir as providências que tomamos para proteger as informações pessoais que os nossos USUÁRIOS e visitantes poderão compartilhar
          | conosco, assim como as formas de utilização destas informações e, com quem estas poderão ser compartilhadas:
    p dir="ltr" 
      | A. INFORMAÇÕES COLETADAS E FUNCIONALIDADES DO SITE
    ol
      li dir="ltr" 
        p dir="ltr" 
          | O SITE foi desenvolvido de maneira a oferecer uma plataforma para captação de recursos exclusivamente para projetos sociais que causem impacto
          | positivo na sociedade. Ao preencher o nosso cadastro, você poderá verificar que algumas informações são obrigatórias e outras, embora opcionais,
          | também são importantes para que a equipe do SITE possa lhe oferecer ainda mais facilidades. Poderemos lhe dar uma resposta melhor quando conhecemos
          | mais sobre você. Se possível, preencha todos os itens do formulário. Ressaltamos que nenhuma informação cadastral é coletada sem a sua anuência.
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | Quando você utiliza o SITE, nos preocupamos em permitir que você tenha acesso às suas informações pessoais, inclusive para proceder com as
          | correções, atualizações necessárias e até mesmo a exclusão das informações que tenham sido compartilhadas conosco. Procure sempre manter o seu
          | cadastro atualizado. Caso verifique algum erro, podemos regularizá-lo(s) após recebermos a sua comunicação a respeito.
    br/
    ol start="3" 
      li dir="ltr" 
        p dir="ltr" 
          | Somente compartilhamos as suas informações disponíveis em nossos cadastros após o seu consentimento prévio, exceto nos casos já previstos acima
          |  pelo TERMO DE USO. Seus dados pessoais poderão ser compartilhados com os parceiros estratégicos da equipe do SITE como responsáveis por transações
          | financeiras, de quem, exigimos o respeito às nossas orientações específicas, Termos e Condições Gerais e Política de Privacidade. Procuramos sempre
          | empregar melhores esforços no sentido de conseguir a adequada confidencialidade e segurança no processamento dessas informações.
    ol start="4" 
      li dir="ltr" 
        p dir="ltr" 
          | A sua senha para ter acesso às funcionalidades e facilidades oferecidas pelo SITE é pessoal e intransferível, como a sua assinatura. Com ela, você
          |  terá privacidade e segurança no seu acesso. Não divulgue a sua senha a terceiros sob nenhuma circunstância. Você é o responsável por todos os atos
          | que sejam realizados com o uso do seu login (nome de usuário) e senha pessoal, o que inclui a responsabilidade por prejuízos em decorrência da
          | utilização indevida por terceiros.
    br/
    ol start="5" 
      li dir="ltr" 
        p dir="ltr" 
          | Se por qualquer razão, você desconfiar que alguém possa conhecer a sua senha pessoal, deverá modificá-la imediatamente. Nesse contexto, seguem
          |  algumas orientações importantes:
    p dir="ltr" 
      | a) sempre crie senhas seguras, sem relação com informações que possam ser facilmente descobertas, como datas de aniversário, casamento, documentos
      | pessoais, números de telefone e números repetitivos ou sequenciais, etc.;
    p dir="ltr" 
      | b) prefira a combinação de letras e números para criação de sua senha;
    p dir="ltr" 
      | c) troque as suas senhas regularmente;
    p dir="ltr" 
      | d) evite deixá-las anotadas. É mais seguro decorá-las.
    ol start="6" 
      li dir="ltr" 
        p dir="ltr" 
          | Procuramos adotar as melhores práticas em segurança de dados para tentar proteger os nossos sistemas e servidores contra acessos não autorizados,
          | divulgação, alteração ou eliminação de dados. Todos os nossos procedimentos para coleta de informações, armazenamento e compartilhamento
          | previamente autorizado são constantemente verificados e analisados, bem como submetidos a verificações de segurança no tráfego de informações em
          | meios eletrônicos.
    br/
    ol start="7" 
      li dir="ltr" 
        p dir="ltr" 
          | Embora o SITE empregue os seus melhores esforços (considerando a vulnerabilidade dos sistemas informatizados e o constante avanço da tecnologia de
          | invasões) não há como nos responsabilizarmos por atos de terceiros que logrem êxito em coletar ou utilizar, por quaisquer meios, dados cadastrais e
          | informações disponibilizadas pelos USUÁRIOS em nossos sites, sistemas de informações e tratamento de dados.
    ol start="8" 
      li dir="ltr" 
        p dir="ltr" 
          | O SITE poderá ser obrigado por exigência legal, decisão judicial, determinação de autoridade pública dentro e fora do Brasil, a divulgar suas
          | informações pessoais em casos especiais e previstos pela legislação em vigor.
    br/
    ol start="9" 
      li dir="ltr" 
        p dir="ltr" 
          | Nós também poderemos divulgar suas informações em caso de venda ou fusão da Xodó EIRELI, podendo submetê-las à política de privacidade diversa.
          | Todavia, caso a finalidade dos dados seja diversa da originária, você será informado, e sua anuência para o tratamento dos dados será requerida.
    ol start="10" 
      li dir="ltr" 
        p dir="ltr" 
          | A equipe do SITE poderá utilizar o seu endereço eletrônico (e-mail) para enviar correspondências, materiais promocionais e institucionais. O envio
          | de e-mails pelo SITE e/ou por seus parceiros estratégicos deverá ser autorizado previamente por você no momento do cadastro ou da atualização de
          |  seus dados.
    p dir="ltr" 
      | B. COOKIES, PIXEL TAGS/WEB BEACONS E TECNOLOGIAS SEMELHANTES
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Os USUÁRIOS compreendem e autorizam que o SITE utilize artifícios técnicos conhecidos como "cookies", ou semelhantes, para acessar informações
          | sobre suas contas a fim de oferecer um serviço melhor e mais personalizado.
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | Os USUÁRIOS declaram estar cientes que existe a possibilidade de configurar seu navegador para ser avisado, na tela do computador, sobre a recepção
          | dos "cookies", e para impedir a sua instalação no disco rígido. As informações pertinentes a esta configuração estão disponíveis em instruções e
          | manuais do próprio navegador.
    ol start="3" 
      li dir="ltr" 
        p dir="ltr" 
          | Para utilizar os serviços do SITE não é necessário que os USUÁRIOS permitam a recepção de "cookies" enviados pelo SITE, sem prejuízo de que, em tal
          | caso, será necessário que os USUÁRIOS se registrem a cada vez que acessarem uma área que requeira identificação prévia.
    ol start="4" 
      li dir="ltr" 
        p dir="ltr" 
          | Sempre que a opção que impeça a instalação dos "cookies" não tenha sido ativada, os USUÁRIOS poderão pesquisar o disco rígido de seu computador,
          | conforme as instruções do próprio navegador e remover manualmente quaisquer “cookies”.
    p dir="ltr" 
      | C. HYPERLINKS E CONEXÕES A OUTROS WEBSITES
    ol
      li dir="ltr" 
        p dir="ltr" 
          | O SITE pode conter hyperlinks ou frames de outros sites, que podem ou não ser nossos parceiros estratégicos. Estes links e frames são
          | disponibilizados buscando, tão somente, proporcionar mais um benefício para os nossos USUÁRIOS. É importante destacar que a inclusão destes links e
          | frames não significa que a equipe do SITE tenha conhecimento, concorde ou seja responsável por eles ou por seus respectivos conteúdos. Portanto, o
          |  SITE não pode ser responsabilizado por eventuais perdas ou danos sofridos em razão da utilização dos referidos links ou frames.
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | O SITE procura manter todos os seus sites e hyperlinks com informações atualizadas e corretas, no entanto, não é possível garantir que todos os
          | dados veiculados estejam publicados em nossos sites no exato momento da atualização dos arquivos principais em nossos servidores e sistemas de
          | informação e tratamento de dados.
    ol start="3" 
      li dir="ltr" 
        p dir="ltr" 
          | O SITE igualmente não é responsável pelo conteúdo e direcionamento para os mais variados serviços de terceiros disponíveis para interação com essas
          | mídias, mesmo que por meio de hyperlinks originados a partir do SITE e e-mails (mensagens eletrônicas) promocionais e/ou de divulgação
          | institucional.
    ol start="4" 
      li dir="ltr" 
        p dir="ltr" 
          | O SITE também não tem nenhuma responsabilidade pelo conteúdo publicado por seus USUÁRIOS (ou não) com a utilização dos recursos oferecidos por
          | nosso site, notadamente: opiniões, fotos, vídeos, textos e semelhantes – e nem tem como garantir que os mesmos serão atualizados, corretos e
          | capazes de atender a expectativa dos USUÁRIOS dos nossos sites e destinatários das nossas mensagens eletrônicas.
    p dir="ltr" 
      | D. SEGURANÇA
    p dir="ltr" 
      | 1. O SITE sugere algumas orientações para aumentar a segurança e a privacidade dos seus USUÁRIOS na Internet:
    p dir="ltr" 
      | a) Utilize sempre um software antivírus atualizado e de qualidade – com possibilidade de verificar os arquivos de todos os dispositivos que você conectar
      | em seu computador (CD, Pendrive (flashmemory), etc.) – e nos arquivos que você fizer download (carregar/baixar) pela Internet;
    p dir="ltr" 
      | b) Sempre faça uso de programas de computador (software) originais e atualizados. Tenha especial atenção e cuidado quando acessar o SITE por meio de links
      | contidos em e-mails. Certifique-se de que o hyperlink está realmente apontando para o endereço correto (URL) do nosso site (
      a href="http://www.xodo.com.vc" http://www.xodo.com.vc
      |   );
    p dir="ltr" 
      | c) Fique atento a e-mails SPAM (mensagens eletrônicas não solicitadas). Estes e-mails aparentam vir de uma fonte segura ou de um amigo, mas na verdade
      | podem ser desenvolvidos para que você faça download de um vírus ou que seja direcionado para um site fraudulento e revele informações confidenciais;
    p dir="ltr" 
      | d) Não responda a e-mails que solicitem informações pessoais. Suspeite de qualquer e-mail proveniente de empresas ou pessoas que lhe perguntem senhas,
      | número de identidade ou outras informações de alta sensibilidade;
    p dir="ltr" 
      | e) Procure somente abrir e-mails provenientes de fontes conhecidas. Seja especialmente cuidadoso ao abrir e-mails com arquivos anexos e de desconhecidos.
      | Até mesmo amigos podem acidentalmente lhe enviar um e-mail contendo vírus ou programa malicioso.
    p dir="ltr" 
      | XIII. DISPOSIÇÕES GERAIS
    p dir="ltr" 
      | 1. Todos os textos, imagens, sons e/ou aplicativos exibidos no SITE e que não corresponda aos materiais de propriedade das ENTIDADES e dos PROTETORES são
      | de propriedade do SITE, sendo proibido o seu uso por terceiros, exceto mediante prévia aprovação do SITE. Todos os direitos são reservados e todas as
      | marcas registradas.
    p dir="ltr" 
      | 2. A utilização deste SITE não gera relação de trabalho, vínculo empregatício, associação, nem sociedade entre os USUÁRIOS, nem representa transação
      | comercial ou venda de produtos ou serviços.
    p dir="ltr" 
      | 3. O SITE reserva-se no direito de atualizar o TERMO DE USO a qualquer momento. As informações sobre as atualizações serão enviadas ao endereço de e-mail
      | fornecido ou serão colocadas em local de destaque do site.
    p dir="ltr" 
      | 4. Este TERMO DE USO será regido, interpretado e executado de acordo com as leis da República Federativa do Brasil, independentemente dos conflitos dessas
      | leis com leis de outros estados ou países, elegendo o Foro da Comarca da Capital do Estado de São Paulo como competente para dirimir todas e quaisquer
      | questões decorrentes deste acordo, com renúncia expressa a qualquer outro, por mais privilegiado ou especial que seja ou venha a ser.
    ol start="14" 
      li dir="ltr" 
        p dir="ltr" 
          | DÚVIDAS
    br/
    ol
      li dir="ltr" 
        p dir="ltr" 
          | Caso ainda tenha alguma dúvida, a Xodó está a disposição para receber e responder seus comentários e perguntas através do canal de ajuda
          | disponibilizado no site
          a href="http://www.xodo.com.vc"  www.xodo.com.vc
    br/
    ol start="2" 
      li dir="ltr" 
        p dir="ltr" 
          | Você pode entrar em contato pelo e-mail:
          a href="mailto:contato@xodo.com.vc"  contato@xodo.com.vc
          | .Teremos um enorme prazer em lhe ajudar a
          | esclarecer quaisquer dúvidas.
    br/
