- if current_user
  #nearOfData data-state="#{current_user.address_state}"
#page_content
  .container
    .main
      section.selected_projects.list
        header
          .titulo
            .titulo-1
              img src="/assets_xodo/img/ico-home1.png" /
            .titulo-2.titulo-home
              h2 = link_to t('explore.index.funding'), explore_path(anchor: :recent)
              
        .projects
          == render @recommends

      section.expiring_projects.list
        header
          .titulo-1
            img src="/assets_xodo/img/ico-home2.png" /
          .titulo-2.titulo-home
            h2 = link_to t('explore.index.successful'), explore_path(anchor: :successful)
          .projects
          == render @successful
      section.expiring_projects.list
        header
          .titulo-1
            img src="/assets_xodo/img/icon-nao-financiado.png" /
          .titulo-2.titulo-home
            h2 = link_to t('explore.index.failed'), explore_path(anchor: :successful)
          .projects
          == render @failed
      

    .clearfix
