/* DEFAULT */

@font-face {
    font-family: Avenir;
    src: url(../fonts/AvenirLTStd-Roman.otf);
}
@font-face {
    font-family: AvenirBlack;
    src: url(../fonts/AvenirLTStd-Black.otf);
}

h1,h2,h3 { margin: 0;  }
[data-namespace="null"][data-controller="projects"][data-action="show"] #page_content .section_header h4 a{
	color: #7da50e;
}
html,
      body {
        height: 100%;
        overflow-x: hidden;
      }
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -300px;
      }
body {
	font-family: "Avenir";
    background-image: url('../img/bg.jpg'); background-position: 0px 12px;
    background-color: #cccccc;
}
body[data-action="index"][data-controller="projects"]{
	font-family: "Avenir";
    background-color: #fff; 
    background-image: none;
}
[data-namespace="null"][data-controller="projects"][data-action="show"]
 #page_content #project_warning .alert.alert-warning a,
 [data-namespace="null"][data-controller="projects"][data-action="show"]
  #page_content #project_warning .alert.alert-warning i,
  [data-namespace="null"][data-controller="projects"][data-action="show"]
   #page_content #project_edit .bootstrap-form label, 
   [data-namespace="null"][data-controller="projects"][data-action="show"]
   #page_content #project_reports .bootstrap-form label
{
	color: #7da50e;
}
[data-namespace="null"][data-controller="projects"][data-action="show"] #page_content #project_warning .alert.alert-warning
	background-color: none;
}
[data-namespace="null"][data-controller="projects"][data-action="show"] #page_content #project_edit .bootstrap-twitter .alert.alert-info, [data-namespace="null"][data-controller="projects"][data-action="show"] #page_content #project_reports .bootstrap-twitter .alert.alert-info
 {
 	height: 50px;
 }
.hideMe {
    display: none;
}
div.content.hide{
	display: none;
}
.row{
	width: 100%;
}
main{
	overflow-x:hidden;
}
#platform .navbar {
	-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25);
-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.25);
box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.25);
z-index: 20;
position: relative;
}
body #page_content .container .main, [data-namespace="null"][data-controller="projects"][data-action="show"] #page_content .main{
	max-width:100%;
	width: 620px;
}
body #page_content .container .projects{
	width: 1170px;
}
/* UNSLIDER */
.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

img.flipH {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

button { border: 0px !important; }

a:hover { text-decoration: none !important; }
	
/* COLORS */
.color-1 { color: #7da50e; }
.color-2 { color: #ee8066;  }
.color-3 { color: #ec9241;  }


/* NAVBAR */
.navbar-default {
	background-color: #fff;
	border-color: #fff;
	}
.nav .active a {
	background-color: #7da50e !important; color: #fff !important; 
	}
.navbar-brand,
	.navbar-nav li a {
		font-size: 13px; font-weight: bolder; font-family: AvenirBlack;
		line-height: 80px;
		height: 80px;
		padding-top: 0;
	}
	.navbar-right li a {
		font-size: 15px; font-family: Avenir;
	}
	.navbar-toggle {
		}
	.nav-icon { width: 40px; }
@media (max-width: 767px) {
	.do-not-collapse {
		float: left;
	}
	.dnc-clear {
		clear: both;
	}
	.dnc-clear {
		clear: both;
	}
	.navbar-nav li a {
		line-height: 40px;
		height: 40px;
		padding-top: 0;
	}
	ul.nav { margin: 0px; }
}
@media (min-width: 767px) {
	.navbar-header-container {
		width: 1000px;
		}
}
@media (min-width: 1025px) {
	.navbar-header-container {
		width: 1200px;
		}
}

/* HEADER */
#header { margin-top: 20px; }
#header .container {  }
#header .titulo {
	clear: both; 
	padding: 30px 0px; 
	}
#header .titulo-right {
	float: left;
	width: 100%; padding-left: 30px;
	border-bottom: 2px solid #7da50e; 
	}
#header .titulo-1 {
	float: left; position: absolute;
	}
#header .titulo-2 {
	float: left;
	padding-left: 10px; border: 0 !important; 
	}
.header-title {
	line-height: 40px; margin-left: 30px;
	float: left;
	}
.header-title h1 {
	margin-top: 6px;
	color: #ee8066; font-size: 18pt; font-weight: bold; text-transform: uppercase;
	}
.header-right {
	line-height: 40px;
	color: #7da50e; font-size: 12pt; text-transform: uppercase;
	}
#header2 { font-size: 12pt; margin-top: 20px; margin-left: 20px; }
.header-nav-li.user ul.dropdown.user{
	position: absolute;
}

[data-namespace="null"][data-controller="projects"][data-action="show"] #page_content .section_header{
	width: auto;
}
.header-nav-li.user ul.dropdown.user li a{
	height: 35px;
}
.dropdown{
	width:230px;

}
body #page_content .container.header-projeto{
	width: 920px;
}
.tab_container{
	height: auto;
}
.tab_container nav a{
	color: #ee8066; 
	background: none;
	font-size: 10pt;
	text-transform: uppercase;
	padding: 5px 10px;
}
.tab_container nav a:hover{
	background: none;
	box-shadow: none;
	color: #7da50e;
}
.tab_container nav a.selected{
	color: #7da50e;
	background: none;
	box-shadow: none;
	border:none;
	border-bottom: none;
}
.header2-nav li { padding-right: 20px;  }
.header2-nav li a { color: #ee8066;  }
.header2-nav li.active a { color: #7da50e; }
span.count, .fb_comments_count { background-color: #ee8066; color: #fff; padding: 5px 4px 3px 5px; border-radius: 2px; }

#project_contributions label{
	margin: 5px 10px;
}

#project_post .project_posts input, .bootstrap-form #new_project_post textarea,
.bootstrap-form #new_project_post input, .bootstrap-form .edit_project input, .bootstrap-form .edit_project textarea{
	height: auto;
	width: 100%;
}
.bootstrap-form #new_project_post label{
	text-align: left;
}
#project_post .bootstrap-form input{
	max-height: 300px;
}
.bootstrap-form input{
	height: 30px;
}
#bootstrap-form label, .bootstrap-form label{
	float: left;
}
.facebook_start{

}
ul.nav.navbar-nav.principal li a{
	text-transform: uppercase;
}
/* CONTENT */
#content {
	border-radius: 10px;
	background-color: #fff;
	padding-left: 20px; 
	padding-top: 15px;
	padding-bottom: 20px;  
	}
.titulo {
	clear: both; 
	height: 92px;
	padding: 30px 0px; max-width: 930px;
	}
.titulo-1 {
	float: left;
	}
.titulo-2 {
	float: left; color: #ee8066; font-weight: bolder; 
	padding-left: 10px; border-bottom: 2px solid #7da50e;  
	}
	.titulo-2 h2 {
		font-size: 16pt;
		}
.projeto-sobre {
	font-size: 15px;
	padding-top: 0px; 
	padding-bottom:20px;  
	}
	.texto-destaque {
		color: #7da50e; font-weight: bolder;
	}
	.texto-subtitulo {
		color: #ee8066; font-family: AvenirBlack; font-size: 17px;
	}
	.texto-color1 {
		color: #7da50e;
	}
	.texto-color2 {
		color: #ee8066;
	}
.faixas {
	position: absolute; text-align: right; width: 100%; padding-right: 20px; margin-top: -20px;
	}
@media (max-width: 767px) {
	.faixas {
		display: none;
		}
}
.titulo-home {
	padding-top: 10px; color: #7da50e;
	border-bottom: 1px solid #7da50e; width: 842px;
	text-transform: uppercase;
	}

	
#project_share{
	padding: 0
}
/* SIDEBAR */
#score {
	padding: 10px 20px; 
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #ecf2d0;
	border-bottom: 2px solid #7da50e;
	}
	#score img { vertical-align: baseline; }
	.score-row {
		font-size: 32px;
		color: #7da50e;
		}
	.score-row button {
		font-size: 20px;
		padding: 10px 0px;
		text-align: left;
		}
	.score-row button img {
		margin-left: 30px;
		margin-right: 20px;
		vertical-align: bottom !important;
		}
	input.btn.btn-primary.btn-lg.btn-block{
		background: url(../img/ico-button-doar.png) no-repeat 5px center #7da50e;
		border-color: #6b8d0c;
		padding-left: 40px;
	}
	.score-spacer {	height: 15px; clear: both; }
	.score-row2 {
		margin-top: -5px;
		font-size: 11pt;
		color: #668937;
		}
		.score-row2 strong {
		font-family: AvenirBlack;
		color: #668937;
		}
	.score-row3 {
		text-align: center;
		font-family: AvenirBlack;
		margin-top: 10px;
		font-size: 11px;
		color: #ee8066;
		}
#progress {
	padding: 5px;
	padding-top: 20px;
	}
	.progress-percent {
		padding: 0px;
		}
		.progress-percent-bar {
			border-radius: 10px;
			background-color: #eee;
			height: 10px;
		}
		.progress-percent-1 {
			padding-left: 10px;
			font-size: 28px; color: #ee8066; font-family: AvenirBlack;
			}
		.progress-percent-2 {
			font-size: 18px; color: #7da50e; font-family: Avenir;
			}
		.progress-percent-2.project-page{
			margin:5px;
		}
		.progress_wrapper { 
			border-radius: 10px; background-color: #eee; height: 10px;
			}
		.progress-percent-bar-fill {
			border-radius: 10px; background-color: #7da50e; height: 10px;max-width: 100%;
			}
	.progress-by {
		margin-top: 20px;
		font-size: 20px; color: #7da50e; font-family: AvenirBlack;
		}
	.progress-by-2 {
		margin-top: 10px;
		}
	.progress-by-col-1 {
		float: left; width: 35%; 
		}
	.progress-by-col-2 {
		float: left; width: 62%; padding-left: 3%;  
		}
	.progress-by-col-2 p {
		margin: 0;
		}
	.progress-by-title {
		font-size: 20px; color: #ee8066;
		}
	.progress-by-local img {
		padding-right: 10px; 
		}
	.progress-by-face img {
		padding-right: 6px; 
		}
	.progress-by-face {
		font-size: 15px; font-family: AvenirBlack; 
		}
		.project-box .status_flag{
			display: none
		}
[data-namespace="null"][data-controller="projects"][data-action="show"] #page_content .sidebar #rewards .box{
		margin:10px 0;
		background: none;
		width: auto;
		padding: 12px 0;
		border: 3px solid #e2e6c6;
	}
[data-namespace="null"][data-controller="projects"][data-action="show"] #page_content .sidebar .apoio-div.box.apoio {
	margin: 20px 0;
	border: 3px solid #e2e6c6;
	border-radius: 15px;
	padding: 10px;
	float: left;
	}

.apoio-reward { border: 2px solid #7da50e; border-radius: 200px;
	color: #7da50e; line-height: 20px; padding: 10px; padding-top: 20px; 
	font-size: 20px; text-align: center;
	}
.apoio-reward span {
	font-size: 16px;
	}
.apoio-reward-1 {
	color: #ee8066;
	font-size: 16px;
	}
.apoio-reward-2 {
	color: #7da50e; margin-left: -10px;
	font-size: 16px; font-family: AvenirBlack;
	}
.apoio-reward-2 img {
	vertical-align: baseline;margin-right: 5px;
	}
.apoio-div .description{
	padding-left: 0;
}
.fotos-div	{ padding-top: 15px; }
.fotos-div div	{ text-align: center; }
.addthis-tab { border-top: 2px solid #7da50e; margin-top: 20px; }
.orangelink {
	color: #ee8066; font-family: AvenirBlack; text-decoration: underline;
	}
.orangelink:hover {
	color: #ff7200; text-decoration: underline !important;
	}




/* FOOTER */
#push { height: 300px;  }
#footer .row { margin-top: 20px;  }
#footer {
	margin-top: 80px;
	height: 300px;
    background-color: rgba(125,164,42,0.2);
}
#footer .col-md-3 {
	padding-top: 15px;
}
#footer h3 {
	text-transform: uppercase;
	font-size: 18px;
	color: #ee8066; 
	padding-bottom: 15px; 
	}
#footer li a {
	color: #7da50e;
	font-size: 15px;
	line-height: 30px;
	}	
.footer-copyright {
	font-size: 14px; color: #7da50e;
	text-align: center;
	border-top: 1px solid #7da50e;
	padding-top: 30px;
	width: 100%;
	margin: 0 auto;
	}
@media (max-width: 766px) {
#footer {
	text-align: center;
	height: 800px;
	}
}
	
	
/* COLORS */
.color-1 { color: #7da50e; } .color-1b { color: #668937; }
.color-2 { color: #ee8066; }
.color-3 { color: #ec9241; }
.home-content-col {
    border-radius: 10px;
}

.project-box{
	padding:0;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: none;height: 440px;margin: auto 5px;
}
.project-box .image:hover {
	opacity: 1;
}
.project_land, .small_project_land{
	height:200px;
}
.home-content-col-1 {
    position: absolute; width: 90%;
    margin-top: 20px; margin-bottom: 20px; margin-left: 0px;
}
.home-content-col-3 img{
	margin-right: 5px;
}

.home-content-col-1-inner { width: 90%; 
    line-height: 45px; color: white; font-size: 17px; padding: 0px 0px 0px 15px; background-color: #e93190; border-radius: 0px 10px 10px 0px; 
} 

.home-content-col-2 {
    margin-top: 0px; padding: 10px;
    font-size: 12px; color: #999; height: 100px;
}
.home-content-col-2 >p{
	margin: 0;
}
.home-content-col-3 {
    padding: 5px 10px; color: #ee8066; font-size: 12px; text-transform: uppercase; padding-bottom: 0px;
}

.home-content-col-4 { padding: 10px; padding-bottom: 0px; }

.home-content-col-5-1 {
    color: #999; font-size: 14px; text-transform: uppercase; float: left; line-height: 13px;
    margin-top: 12px;
}
.home-content-col-5-1 .money-raised, .home-content-col-5-1 .time-remaining{
	float: left;
	padding: 0;
	margin-left: 15%;
}
.home-content-col-5-1 span {
    font-size: 10px;
}

.home-content-col-5 {
    height: 45px; padding: 10px; padding-top: 0px;
}

.font-bold {
    font-weight: 900;
}

.home-content-col-1-inner-2 {
    background-color: #ee7d00; 
}

.parceiro-col-1 {
    clear: both;
    float: left; width: 156px; text-align: center; 
    margin: 10px 0px; border-right: 1px solid #d3df84; padding-right: 30px;  padding-left: 30px; 
}

.parceiro-col-2 {
    float: left;
    margin-left: 30px;
    padding: 10px;
}

.img100 {
    width: 100%;
}

@media (max-width: 766px) {
.home-content-col {
    margin-top: 20px;
	}
}
.home-content-col-projetoimg {
}

.imgroundtop img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
/*
Como funciona
*/
.como-funciona .title{
	text-transform: uppercase;
}
.faq .faq-title{
	margin-left: 25px;
	
}
ul.faq-list li a{
    margin-bottom: 0px;
    border:none;
}
ul.faq-list li a{
	padding: 0
}
ul.faq-list li a:hover{
	background: none;
	text-transform: underline
}

.titulo-como-funciona{
	border:none;
	padding-top: 10px;
	color: #7da50e;
}
.explicacao{
	margin: 0 auto;
	width: 721px;
}
.faq-list{
	border-left: 1px solid black;
	padding-left: 50px;
	margin-top: -30px;
}
ul.faq-list  li{
	list-style: none;
	padding-left: 30px;
	background: url('../img/bullet-xodo.png')  no-repeat left top;
}
 ul.faq-list li a{
	text-transform: uppercase;
}
.faq-title h4{
	width: 60px;
	margin-top: 50px;
	margin-bottom: -60px;
}
/*
Termos de uso
*/
.termos-de-uso .titulo{
	padding: 30px 0 10px 0px;
}
.termos-de-uso .titulo .titulo-2{
	width: 90%;
	margin-top: 10px;
}
