- collection.rank(:row_order).each do |reward|

  .apoio-div[id="reward_#{reward.id}" data-new_contribution_url=new_project_contribution_path(parent, reward_id: reward.id) data-update_url=sort_project_reward_path(parent, reward) class="box apoio #{(policy(reward).update? ? 'clickable_owner sortable' : '')} #{(parent.online? && !reward.sold_out? && !policy(reward).update?  ? 'clickable'  : '' )}"]
    .row
    .col-xs-4
      .apoio-reward
        | #{reward.display_minimum}
    .col-xs-8.description
      .apoio-reward-1
        ul
          li = reward.display_description
      .apoio-reward-2
        img src="/assets_xodo/img/ico-reward.png"   = pluralize(reward.contributions.with_state('confirmed').count(:all), t('contribution_singular'), t('contribution_plural'))
