- if policy(@project).update?
  br
  #project_warning.bootstrap-alert
    .alert.alert-warning
      i Humm, não foi dessa vez…
      #toggle_warning
        = link_to '(minimizar informações)', '#'
      #project_warning_text
        br/
        | Infelizmente, seu projeto não atingiu a meta. Esperamos que a sua campanha tenha gerado aprendizados para que você possa tirar grande proveito dessa experiência. Te esperamos numa próxima!
