.media
  - if resource.video_url.present?
    .video
      #project_embed.hide data-path=embed_panel_project_path(@project)
  .social
    #project_share.col-md-12
      #facebook_share.col-md-5 = render_facebook_like title: @project.name, href: project_by_slug_url(@project.permalink, locale: I18n.locale)
     
      #twitter_share= render_twitter(url: project_by_slug_url(permalink: @project.permalink), title: @project.name)
      .clearfix

.clearfix
#project_embed.hide data-path=embed_panel_project_path(@project)
  = image_tag "loading.gif", class: 'loader'
.text
  p
    = @project.about_html.html_safe
