- target = defined?(embed_link) ? '__blank' : ''
.project-box.col-md-3[itemscope itemtype="http://schema.org/CreativeWork" class=(custom_class if defined?(custom_class))]
  .home-content-col
    meta[itemprop="dateCreated" content=project.created_at.to_date]
    .home-content-col-projetoimg
      .home-content-col-1
        - if project.expired?
          - if project.progress >= 100
            .home-content-col-1-inner.home-content-col-1-inner-2
              img src="/assets_xodo/img/ico-whited.png" 
                | META ALCANÇADA
        - if project.expired?
        - else
          .home-content-col-1-inner
            img src="/assets_xodo/img/ico-whiteh.png" 
              | QUERO CONTRIBUIR    
    - if project.expired?
      .status-flag
        = link_to project_by_slug_path(permalink: project.permalink), target: target do
          = project.status_flag
    .image.img100.imgroundtop = link_to image_tag(project.display_image, size: '318x238'), project_by_slug_path(project.permalink), title: project.name, target: target
  .home-content-col-2
      b    = truncate(project.name, length: 50, separator: '')
      br
      p  = link_to truncate(project.headline, length: 140), project_by_slug_path(project.permalink), title: project.headline, target: target
  .home-content-col-3
    img src="/assets_xodo/img/ico-target.png" 
      | #{project.user.display_name}
      | &nbsp; &nbsp;
      img src="/assets_xodo/img/ico-face-2.png" 
        | #{project.user.address_state}
  .home-content-col-4
    #progress-percent
      .progress-percent-bar
        .progress-percent-bar-fill style=("width: #{project.progress}%; ")
  .home-content-col-5
    .home-content-col-5-1 style=("width: 20%;") 
      | #{project.progress}%
      br
        span da meta
    .home-content-col-5-1 style=("width: 35%; margin-left: 5%;") 
      = link_to t('.pledged_html', value: number_to_currency(project.pledged, precision: 0)), project_by_slug_path(project.permalink), title: project.name, class: 'money-raised', target: target
    .home-content-col-5-1 style=("width: 35%; margin-left: 5%;") 
      = link_to(project_by_slug_path(project.permalink), target: target, title: project.name, class: 'time-remaining') do
          - unless project.expired?
            = t('.time_remaining_html', count: project.time_to_go[:time], unit: project.time_to_go[:unit])
          - else
              span = t(".display_status.#{project.display_status}").capitalize
              = project.display_expires_at

/!
  |      .status
  |   .padding
  |      .progress-bar = project.progress_bar
  |      = link_to(project_by_slug_path(project.permalink), target: target, title: project.name, class: 'time-remaining') do
  |        - unless project.expired?
  |          = t('.time_remaining_html', count: project.time_to_go[:time], unit: project.time_to_go[:unit])
  |        - else
  |            span = t(".display_status.#{project.display_status}").capitalize
  |            = project.display_expires_at
  |     = link_to t('.pledged_html', value: number_to_currency(project.pledged, precision: 0)), project_by_slug_path(project.permalink), title: project.name, class: 'money-raised', target: target
  |    p.progress-percent = t('.progress_html', percent: project.progress)

  

