br
#project_warning.bootstrap-alert
  .alert.alert-warning
    i Este projeto não foi aceito
    #toggle_warning
      = link_to '(minimizar informações)', '#'
    #project_warning_text
      br/
      br/
      | Nossa equipe entendeu que este projeto não tem o perfil.
      br/
      br/
      | Lembrando que ter um projeto recusado não impede que você envie novos projetos para avaliação.
