- if policy(@project).update?
  br
  #project_warning.bootstrap-alert
    .alert.alert-warning
      i Parabéns! Seu projeto foi financiado!
      #toggle_warning
        = link_to '(minimizar informações)', '#'
      #project_warning_text
        br/
        | Através da #{link_to 'aba Relatórios', '#reports'} (abaixo) 
        | você vai baixar planilhas com informações sobre seus apoiadores como: Recompensa | Valor do apoio | Data de confirmação do apoio | Nome | E-mail | Endereço.
