- if policy(@project).update?
  br
  #project_warning.bootstrap-alert
    .alert.alert-warning
      i Existem apoios em prazo de confirmação para o seu projeto
      #toggle_warning
        = link_to '(minimizar informações)', '#'
      #project_warning_text
        br/
        br/
        | Dentro de 3 dias úteis computaremos os pagamentos pendentes e saberemos exatamente quanto você consegiu arrecadar e se sua meta foi atingida!
        br/
        br/
        strong Caso a meta tenha sido atingida repassaremos o dinheiro pra você!
