#header
  .col-md-12.slider style=("background: url(/assets_xodo/banners/pattern_banner.png) repeat-x;") 
    a href="#{explore_path}" 
      .faixas
        img src="/assets_xodo/img/faixas.png" style=("width: 350px;") /
      .slider-banner style=("text-align: center; margin-top: -4px; ") 
          div style=("background-image: url('/assets_xodo/banners/banner_01.png'); background-repeat:no-repeat; background-position: center; height: 350px; ") 
#page_content
  .container
    .main
      section.selected_projects.list
        header
          .titulo
            .titulo-1
              img src="/assets_xodo/img/ico-home1.png" /
            .titulo-2.titulo-home
              h2 = link_to t('.sections.recommended.title'), explore_path(anchor: :recommended)
              
        .projects
          == render @recommends

      section.expiring_projects.list
        header
          .titulo-1
            img src="/assets_xodo/img/ico-home2.png" /
          .titulo-2.titulo-home
            h2 = link_to t('.sections.successful.title'), explore_path(anchor: :successful)
          .projects
          == render @successful

      .row
        .col-md-12 style="" 
          .titulo
            .titulo-1
              img src="/assets_xodo/img/ico-home3.png" /
            .titulo-2.titulo-home
              h2 PARCEIROS
    .row
      .col-md-12 style="" 
        .parceiro-col-1
            img src="/assets_xodo/img/ico-parceiro-1.png" 
        .parceiro-col-2
            
        .parceiro-col-1
            img src="/assets_xodo/img/ico-parceiro-2.png" 
        .parceiro-col-2
            
        .parceiro-col-1
            img src="/assets_xodo/img/ico-parceiro-3.png" 
        .parceiro-col-2
            
    .row
      .col-md-12 style="" 
        .titulo
          .titulo-1
            img src="/assets_xodo/img/ico-home4.png" /
          .titulo-2.titulo-home
            h2 SIGA E COMPARTILHE O XODÓ
    .row
      .col-md-8 style="" 
        .home-content-col
          .fb-like-box data-colorscheme="light" data-header="false" data-height="250" data-href="https://www.facebook.com/xodo.com.vc" data-show-border="true" data-show-faces="true" data-stream="false" data-width="580" 
      .col-md-4 style="" 
        .home-content-col.home-content-col-mediaspan
          iframe allowTransparency="true" frameborder="0" height="257" scrolling="no" src="http://iconosquare.com/widget.php?choice=myfeed&username=xodo_com_vc&show_infos=false&linking=instagram&width=280&height=257&mode=grid&layout_x=2&layout_y=1&padding=10&photo_border=true&background=FFFFFF&text=777777&widget_border=true&radius=5&border-color=DDDDDD&user_id=273895591&time=1413529221590" style=("border:none; overflow:hidden; width:280px; height:257px;") width="280" 




    .clearfix



