= javascript_include_tag "//www.google.com/jsapi", "chartkick"

= content_for :meta_tags do
  - if ['online', 'waiting_funds', 'successful'].include? @project.state
    meta name="robots" content="index, follow"
  - else
    meta name="robots" content="noindex, nofollow"

  - if @post
    meta name="description" content=@post.title
    meta property="og:title" content=@post.title
    meta property="og:description" content=@post.comment
    meta property="og:url" content=project_by_slug_url(@project.permalink, project_post_id: @post.id, locale: I18n.locale)
  - else
    meta name="description" content=@project.headline
    meta property="og:title" content=@project.name
    meta property="og:description" content=@project.headline
    meta property="og:url" content=project_by_slug_url(@project.permalink, locale: I18n.locale)
  meta property="og:type" content='cause'
  meta property="og:image" content=@project.display_image('project_thumb_facebook')
  meta property="og:site_name" content=CatarseSettings[:company_name]
  meta property="fb:admins" content="#{fb_admins}"
#page_content
  .container

    = render @project.state_warning_template

    #project_description
    .project_image
      = image_tag @project.display_image('project_thumb_small')
    .section_header.col-lg-8.col-md-8
      h1= @project.name
      h4
        = t('.project_header.without_city')
        |&nbsp;
        = link_to(@project.category, explore_path(anchor: "by_category_id/#{@project.category_id}"))
        |&nbsp;
        = t('projects.index.box.by')
        |&nbsp;
        = link_to(@project.user.display_name, user_path(@project.user))
        |&nbsp;
        - @project.channels.each do |c|
          = link_to(c.name, root_url(subdomain: c.permalink), class: 'project-channel')
    #header2
    .container.header-projeto
      .tab_container
          nav#project_menu.list-inline.header2-nav
            = link_to '#about', 'id' => 'about_link', 'class' => 'selected', 'data-target' => '#project_about.content' do
              = t('.menu.about')
            = link_to '#posts', 'id' => 'posts_link', 'data-target' => '#project_posts' do
              = t('.menu.posts')
              span.count="#{@posts_count}"
            = link_to '#contributions', 'id' => 'contributions_link', 'data-target' => '#project_contributions' do
              = t('.menu.contributions')
              span.count="#{@project.total_contributions}"
            = link_to '#comments', 'id' => 'comments_link', 'data-target' => '#project_comments' do
              = t('.menu.comments')
              | &nbsp; 
              / we need to remove the locale from the url
              fb:comments-count href="#{request.base_url}/#{request.fullpath.split('/')[2]}"
            - if policy(@project).update?
              = link_to '#edit', 'id' => 'edit_link', 'data-target' => '#project_edit' do
                = t('.menu.edit')
              = link_to '#reports', 'id' => 'reports_link', 'data-target' => '#project_reports' do
                = t('.menu.reports')
              = link_to '#metrics', id: 'metrics_link', data: {target: '#project_metrics'} do
                = t('.menu.metrics')
    .main
      #project_content
        - if policy(@project).update?
          #project_reports.content.hide
            = render 'project_reports'
          #project_edit.content.hide
            = render 'project_edit'

        #project_posts.content.hide[data-path=project_posts_path(project_id: @project.id)]
          - if policy(@project).update?
            = render template: 'projects/posts/new'
          .results data-skiptab=""
          .clearfix
          #posts-loading.loading= image_tag "loading.gif"
        #project_contributions.content.hide[data-path=project_contributions_path(project_id: @project.id)]
          - if policy(@project).update?
            = radio_button_tag(:contribution_state, "available_to_count", checked: true)
            = label_tag(:contribution_state, t('.contribution_states.confirmed'))
            = radio_button_tag(:contribution_state, "waiting_confirmation")
            = label_tag(:contribution_state, t('.contributions_states.pending'))
          .results data-skiptab=""
          .clearfix
          #contributions-loading.loading= image_tag "loading.gif"
        #project_comments.content.hide
        #project_about.content= render 'project_about'
        #project_metrics.content.hide[data-path=metrics_project_path(id: @project.id)]
          .results
          .clearfix
          #metrics-loading.loading= image_tag "loading.gif"

      .clearfix
    .sidebar.col-sm-4
      #score
        .score-row
            img src="/assets_xodo/img/ico-score1.png"  #{@project.total_contributions}
        .score-row2 DOADORES
        .score-spacer &nbsp;
        .score-row
            img src="/assets_xodo/img/ico-score2.png"  #{@project.display_pledged}
        .score-row2
          p = t('.sidebar.goal', total: @project.display_goal).html_safe
        .score-spacer &nbsp;
        .score-row
          img src="/assets_xodo/img/ico-score3.png"  #{@project.remaining_days}
          .score-row2 #{@project.time_to_go[:unit].capitalize} #{pluralize_without_number(@project.time_to_go[:time], t('remaining_singular'), t('remaining_plural'))}
          .score-spacer &nbsp;
          .score-row
        #condition[class="#{@project.display_status}"]
          - if @project.accept_contributions?
            #pledge
              = form_tag(new_project_contribution_path(@project), method: :get, id: 'contribute_project_form') do
                fieldset
                  = submit_tag t('.contribute_project.submit'), disabled: (not @project.online?), class: ("btn btn-primary btn-lg btn-block")
        .score-row3 = t(".contribute_project.display_status.#{@project.display_status}", goal: @project.display_goal, date: @project.display_expires_at)
          - if policy(@project).update?
            = link_to '#edit', 'id' => 'edit_link', 'data-target' => '#project_edit' do
              = t('.menu.edit')
            = link_to '#reports', 'id' => 'reports_link', 'data-target' => '#project_reports' do
              = t('.menu.reports')
            = link_to '#metrics', id: 'metrics_link', data: {target: '#project_metrics'} do
              = t('.menu.metrics')
      #progress
          #progress-percent
            .progress-percent-1
              | #{@project.progress}%
              span.progress-percent-2.project-page DA META
            .progress-percent-bar
              .progress-percent-bar-fill style=("width: #{@project.progress}%; ") 
          .progress-by = t('.project_by')
          .progress-by-2
            .progress-by-col-1
              = @project.user.display_image_html width: 80, height: 80
            .progress-by-col-2
              p.progress-by-title = link_to @project.user.display_name, user_path(@project.user)
              p = @project.user.bio
          .score-spacer &nbsp;
          .progress-by-local
            img src="/assets_xodo/img/ico-face-2.png"  #{@project.user.address_city} / #{@project.user.address_state}
            p.contribution= t('.count_contributed_projects', total: @project.user.total_contributed_projects)
      #creator_profile
        .user_social
            ul
              - if @project.user.facebook_link
                .progress-by-face
                  img src="/assets_xodo/img/ico-face-1.png"  = link_to "Perfil no facebook", @project.user.facebook_link, target: '_blank', class: 'facebook user-project'
              - if @project.user.twitter_link
                  li
                    = link_to "Perfil no twitter", @project.user.twitter_link, target: '_blank', class: 'twitter'
              - if @project.user.email
                  li
                    = mail_to @project.user.email, @project.user.email, target: '_blank', class: 'email'
              - if @project.user.other_link
                  li.other
                    = link_to @project.user.other_link, @project.user.other_link, target: '_blank'
        .clearfix
        - if policy(@project).update?
          .bootstrap-twitter.bootstrap-form
            .alert.alert-info
              h4.alert-header= t('.no_rewards_warning_title')
              p style="margin:0; padding:0;"
                = t('.no_rewards_warning')
              br/
              .new_reward_content.hide
                = image_tag 'loading.gif'

            .clearfix
            = link_to t('.menu.add_reward'), 'javascript:void(0);', data: {target: '.new_reward_content', path: new_project_reward_path(@project)}, class: 'btn btn-success pull-right show_reward_form'
            .clearfix

            br/
            /.skull-modal.new_reward_content.hide
              .skull-modal-header
                h3= t('projects.rewards.new_reward')
                a class='skull-modal-close' href='javascript:void(0);' &times;
              .skull-modal-body
                = image_tag 'loading.gif'
        #rewards[data-can_update="#{policy(@project).update?}" data-index_path=project_rewards_path(@project)]
          .reward-loader= image_tag 'loading.gif'
        .funding_period_title
          = t('.funding_period')
        .funding_period
          = "#{@project.display_online_date} - #{@project.display_expires_at} (#{t('datetime.distance_in_words.x_days', count: @project.online_days)})"

    .clearfix